<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>版本专题 - DOTA2 - 刀塔官方网站 - 全球顶级竞技 唯一正统续作</title>
	<link rel="shortcut icon" href="images/dota2.png" type="image/x-icon">
	<link rel="stylesheet" href="stylesheets/zonghe.css">
</head>
<body>
	<nav>
		<div class="nav_main">
			<div class="header">
			    <img src="images/dota2.home.logo.png" alt="" class="logo">
			    <ul class="list">
			        <li class="hover">
			            <a href="/index">
			                <span class="up">首页</span>
			                <span class="down">HOME</span>
			            </a>
			            <div class="link">
			                <a href="ppz">品牌站</a>
			                <a href="/login">个人中心</a>
			                <a href="#">神秘商店</a>
			            </div>
			        </li>
			        <li class="hover">
			            <a href="/news">
			                <span class="up">资讯</span>
			                <span class="down">NEWS</span>
			            </a>
			            <div class="link">
			                <a href="/news">官方新闻</a>
			                <a href="/game">赛事新闻</a>
			                <a href="/renew">更新日志</a>
			                <a href="/strategy">游戏攻略</a>
			            </div>
			        </li>
			        <li>
			            <a href="/saishi">
			                <span class="up">赛事</span>
			                <span class="down ml">TOURNAMENTS</span>
			            </a>
			        </li>
			        <li class="hover">
			            <a href="/data">
			                <span class="up">互动</span>
			                <span class="down">INTERACTION</span>
			            </a>
			            <div class="link">
			                <a href="/zonghe">精彩综合</a>
			                <a href="/huodong">官方活动</a>
			                <a href="/bbs">玩家论坛</a>
			                <a href="https://weibo.com/dota2comcn" target="_blank">新浪微博</a>
			                <a href="javascript:;" class='open'>官方微信</a>
			            </div>
			        </li>
			        <li class="hover">
			            <a href="/data">
			                <span class="up">资料</span>
			                <span class="down">DATA</span>
			            </a>
			            <div class="link">
			                <a href="/heroes">英雄资料</a>
			                <a href="/items">物品资料</a>
			                <a href="#">自定义地图</a>
			                <a href="#">新手引导</a>
			            </div>
			        </li>
			        <li class="hover">
			            <a href="/bbs">
			                <span class="up">服务</span>
			                <span class="down">SERVICE</span>
			            </a>
			            <div class="link">
			                <a href="/service">客服中心</a>
			                <a href="/online">在线客服</a>
			                <a href="/contact">自助专区</a>
			                <a href="#">被盗找回</a>
			                <a href="#">忘记账号</a>
			                <a href="/select">通行证查询</a>
			                <a href="/parents">家长监护</a>
			            </div>
			        </li>
			        <li class="hover">
			            <a href="#">
			                <span class="up">下载</span>
			                <span class="down">DOWNLOAD</span>
			            </a>
			            <div class="link">
			                <a href="#">游戏下载</a>
			                <a href="#">精美壁纸</a>
			                <a href="#">官方漫画</a>
			            </div>
			        </li>
			    </ul>
				<div class="dota2User">
					<i></i>
					<div class="enterBox">
						<p>
							<span>您好，请</span>
							<a href="#">登录</a>
						</p>
						<span class="tt">登陆后可进入您的个人中心</span>
					</div>
				</div>
			</div>
		</div>
	</nav>
	
	<div class="wrap">
		<div class="wrap_main">
			<div class="bg_link">
				<a href="#" class="out"></a>
			</div>
			<div class="topic">
				<div class="topic_nav">
					<ul class="navs">
						<li class="nav">
							<a href="/zonghe">综合专题</a>
						</li>
						<li class="nav">
							<a href="/huodong">活动专题</a>
						</li>
						<li class="nav">
							<a href="/saishi">赛事专题</a>
						</li>
						<li class="nav active">
							<a href="#">版本专题</a>
						</li>
						<li class="nav">
							<a href="/tuiguang">推广专题</a>
						</li>
					</ul>
				</div>
				<div class="topic_main">
					<div class="content">
						<ul class="activities">
							
						</ul>
					</div>
					<div class="footer">
						
					</div>
				</div>
			</div>
			<div class="sideBar">
				<div class="btns">
					<a href="" class="btn btn-recharge"></a>
					<a href="" class="btn btn-download"></a>
					<a href="" class="btn btn-signup"></a>
				</div>
				<div class="more">
					<a href="" class="btn btn-match"></a>
					<a href="" class="btn btn-events"></a>
					<a href="" class="btn btn-bbs"></a>
				</div>
			</div>
			<div class="anchor">
				<a href="javascript:(0)">
					<i class="icon icon-anchor"></i>
				</a>
			</div>
		</div>
	</div>
	
	<div class="bottom">
		<div class="foot_dl">
			<div class="dt">
				<a href="#"><img src="../images/wmsj.png" alt=""></a>
				<a href="#"><img src="../images/logo-valve.png" alt=""></a>
			</div>
			<div class="dd">
				© 完美世界 版权所有　Perfect World. All Rights Reserved. <br>
				© 2012 Valve Corporation. All Rights reserved. Licensed to Beijing Perfect World Network Technology Co., Ltd. in China
			</div>
		</div>
		<p class="certificate">
			京ICP证：050016号
			<a href="#">《网络文化经营许可证》编号：京网文[2017]8929-1007号</a>
			《网络视听许可证》编号：0110587<br>
			京公网安备11010502033859号
			<a href="#"> 
			<img src="../images/icon-gamenettag.png" alt="">
				文网进字[2013] 028号
			</a>
			新出审字[2013] 1505号 ISBN：978-7-89989-826-0 | 
			<a href="" style="color:#53bdfa;">家长监护</a> | <a href="" style="color:#53bdfa;">纠纷处理</a> | <a href="" style="color:#53bdfa;">营业执照</a> | <a href="" style="color:#53bdfa;">儿童隐私保护指引</a>
		</p>
		<p class="remark">本网络游戏适合年满17岁以上的用户使用：请您确定已如实进行实名注册。为了您的健康，请合理控制游戏时间。</p>
	</div>
	
	<div class="overlay"></div>
	
	<div class="wxdialog">
		<h4>扫一扫关注DOTA2官方微信公众平台</h4>
		<p>获取更多最新的DOTA2精彩资讯！</p>
		<ul>
			<li class="subscribe">
				<i></i>
				<span>DOTA2官方微信服务号</span>
			</li>
			<li class="vservice">
				<i></i>
				<span>DOTA2官方微信订阅号</span>
			</li>
		</ul>
		<a href="javascript:;" class="close">
			<i></i>
		</a>
	</div>
	<script src="javascripts/jquery.js"></script>
	<script src="javascripts/top.js"></script>
	<script src="javascripts/banben.js"></script>
	<script src="javascripts/close.js"></script>
</body>
</html>