<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>DOTA2 -  完美游戏论坛 -  Powered by Discuz!</title>
	<link type="favicon" rel="shortcut icon" href="https://safestatic.games.wanmei.com/common/ico/favicon.ico">
	<link rel="stylesheet" href="stylesheets/bbs.css">
</head>
<body>
	<div class="wanmei_top">
		<div class="wanmei_nav">
			<h1 class="wanmei_logo">
				<a href="">完美世界</a>
			</h1>
			<div class="wanmei_small">
				<ul>
					<li><img src="./images/wanmei_gg_small.jpg" alt=""></li>
				</ul>
			</div>
			<div class="wanmei_big">
				<a href=""><img src="./images/wanmei_gg_big.jpg" alt=""></a>
			</div>
			<div class="wanmei_msg">
				<a href="javascript:;" class="wanmei_msg_game">娱乐游戏</a>
				<a href="" class="wanmei_msg_link">论坛</a>
				<span class="wanmei_msg_xian">|</span>
				<a href="" class="wanmei_msg_link">商城</a>
				<span class="wanmei_msg_xian">|</span>
				<a href="" class="wanmei_msg_link">充值</a>
				<span class="wanmei_msg_xian">|</span>
				<a href="" class="wanmei_msg_link">注册</a>
				<span class="wanmei_msg_xian">|</span>
				<a href="" class="wanmei_msg_link">登录</a>
				<span class="wanmei_msg_xian">&nbsp;&nbsp;</span>
			</div>
			<div class="wanmei_games">
				<div class="wanmei_games_l">
					<div class="wanmei_games_hot">
						<p class="wanmei_games_hot_li01">热门游戏</p>
						<ul class="wanmei_games_hot_list">
							<li>
								<a href="">
									<img src="./images/game_zhuxian.jpg" alt="">
								</a>
								<span>诛仙3</span>
							</li>
							<li>
								<a href="">
									<img src="./images/game_w2i.jpg" alt="">
								</a>
								<span>完美国际</span>
							</li>
							<li>
								<a href="">
									<img src="./images/game_xa.jpg" alt="">
								</a>
								<span>笑傲江湖OL</span>
							</li>
							<li>
								<a href="">
									<img src="./images/game_touch.jpg" alt="">
								</a>
								<span>TOUCH</span>
							</li>
							<li>
								<a href="">
									<img src="./images/game_dota2.jpg" alt="">
								</a>
								<span>DOTA2</span>
							</li>
						</ul>
					</div>
					<div class="wanmei_game_box">
						<div class="wanmei_game_item wanmei_game_khd">
							<div class="wanmei_game_box_head">客户端游戏</div>
							<div class="wanmei_clearfix">
								<ul class="wanmei_game_box_list">
									<li><a href="" class="wanmei_new">蜀山飘渺录</a></li>
									<li><a href="" class="wanmei_hot">完美国际</a></li>
									<li><a href="">圣斗士星矢OL</a></li>
									<li><a href="">神魔大陆2</a></li>
									<li><a href="">口袋西游</a></li>
									<li><a href="">神雕侠侣</a></li>
								</ul>
								<ul class="wanmei_game_box_list">
									<li><a href="" class="wanmei_hot">诛仙3</a></li>
									<li><a href="">梦幻诛仙2</a></li>
									<li><a href="">热舞派对Ⅱ</a></li>
									<li><a href="">完美世界</a></li>
									<li><a href="">武林外传</a></li>
								</ul>
								<ul class="wanmei_game_box_list wanmei_game_box_list03">
									<li><a href="" class="wanmei_hot">笑傲江湖OL</a></li>
									<li><a href="">神鬼世界</a></li>
									<li><a href="">神鬼传奇</a></li>
									<li><a href="">赤壁</a></li>
								</ul>
							</div>
						</div>
						<div class="wanmei_game_item wanmei_game_wy">
							<div class="wanmei_game_box_head">网页游戏</div>
							<ul class="wanmei_game_box_list">
								<li><a href="">TOUCH</a></li>
							</ul>
							<div class="wanmei_game_box_head">完美娱乐</div>
							<ul class="wanmei_game_box_list">
								<li><a href="">完美音乐在线</a></li>
								<li><a href="">完美商城</a></li>
							</ul>
						</div>
						<div class="wanmei_game_item wanmei_game_wmdj">
							<div class="wanmei_game_box_head">完美电竞</div>
							<ul class="wanmei_game_box_list">
								<li><a href="" class="wanmei_hot">DOTA2</a></li>
								<li><a href="" class="wanmei_new">CS:GO</a></li>
								<li><a href="" class="wanmei_hot">创世战车</a></li>
							</ul>
						</div>
						<div class="wanmei_game_item wanmei_game_dj">
							<div class="wanmei_game_box_head">单机游戏</div>
							<ul class="wanmei_game_box_list wanmei_game_box_list03">
								<li><a href="" class="wanmei_new">深海迷航</a></li>
								<li><a href="" class="wanmei_new">非常英雄</a></li>
								<li><a href="" class="wanmei_new">面条人</a></li>
								<li><a href="" class="wanmei_new">隐龙传</a></li>
								<li><a href="" class="wanmei_new">洪潮之焰</a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="wanmei_games_r">
					<a href="" class="wmpassport">
						<img src="./images/platform.jpg" alt="">
					</a>
					<ul class="wanmei_seaver">
						<li class="wanmei_btn01"><a href=""></a></li>
						<li class="wanmei_btn02"><a href=""></a></li>
						<li class="wanmei_btn03"><a href=""></a></li>
						<li class="wanmei_btn04"><a href=""></a></li>
						<li class="wanmei_btn05"><a href=""></a></li>
						<li class="wanmei_btn06"><a href=""></a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	
	<div class="hd">
		<div class="wp">
			<div class="hdc"></div>
			<div class="nv-wanmei">
				<a href="javascript:;" class="qmenu"></a>
				<div class="scbar">
					<form action="" method="post" class="scbar_form">
						<div class="form_div">
							<input type="text" class="scbar_txt" placeholder="请输入搜索内容">
							<a href="javascript:;" class="scbar_type">帖子</a>
							<button type="submit" class="pn">
								<strong class="xi2">搜索</strong>
							</button>
						</div>
					</form>
				</div>
				<ul class="nv-list">
					<li class="active"><a href="">论坛BBS</a></li>
					<li><a href="">完美官网</a></li>
					<li><a href="">完美商城</a></li>
					<li><a href="">道具商城</a></li>
					<li><a href="">会员中心</a></li>
					<li><a href="">充值中心</a></li>
					<li><a href="/service">客服中心</a></li>
				</ul>
			</div>
		</div>
	</div>
	
	<div class="wpp">
		<div class="pt">
			<div class="z">
				<a href="" class="nvhm">完美游戏论坛</a>
				<em></em>
				<a href="">论坛</a>
				<em></em>
				<a href="">完美电竞</a>
				<em></em>
				<a href="">DOTA2</a>
			</div>
		</div>
		<div class="boardnav">
			<div class="ct">
				<div class="mn">
					<div class="bm">
						<div class="bm_h">
							<span class="y">
								<a href="" class="fa_fav">收藏本版</a>
								<span class="pipe">|</span>
								<a href="" class="fa_rss">订阅</a>
							</span>
							<h1 class="xs2">
								<a href="">DOTA2</a>
								<span class="xs1">
									今日:
									<strong class="xi1">0</strong>
									<span class="pipe">|</span>
									主题:
									<strong class="xi1">2</strong>
									<span class="pipe">|</span>
									排名:
									<strong class="xi1">145</strong>
									<b class="ico_increase">&nbsp;</b>
								</span>
							</h1>
						</div>
					</div>
					<div class="forum_list">
						<div class="bmw">
							<div class="bm_h">
								<span class="o">
									<img src="./images/collapsed_no.gif" alt="">
								</span>
								<h2>子版块</h2>
							</div>
							<div class="subforum_192">
								<table>
									<tbody>
										<tr>
											<td class="fl_g">
												<div class="fl_icn_g">
													<a href="">
														<img src="./images/common_194_squicon.jpg" alt="">
													</a>
												</div>
												<dl>
													<dt>
														<a href="">官方公告</a>
													</dt>
													<dd>
														<em>主题:866</em>
														,
														<em>贴数:869</em>
													</dd>
													<dd>
														<a href="">最后发表:3天前</a>
													</dd>
												</dl>
											</td>
											<td class="fl_g">
												<div class="fl_icn_g">
													<a href="">
														<img src="./images/common_195_squicon.jpg" alt="">
													</a>
												</div>
												<dl>
													<dt>
														<a href="">综合交流丨英雄战术法球OMG</a>
													</dt>
													<dd>
														<em>主题: 2053</em>
														,
														<em>帖数: 4305</em>
													</dd>
													<dd>
														<a href="">最后发表: 2020-4-23 14:30</a>
													</dd>
												</dl>
											</td>
											<td class="fl_g">
												<div class="fl_icn_g">
													<a href="">
														<img src="./images/common_196_squicon.jpg" alt="">
													</a>
												</div>
												<dl>
													<dt>
														<a href="">新手大厅丨一天学会Dota2</a>
													</dt>
													<dd>
														<em>主题: 368</em>
														,
														<em>帖数: 607</em>
													</dd>
													<dd>
														<a href="">最后发表: 2020-4-11 23:02</a>
													</dd>
												</dl>
											</td>
											<td class="fl_g">
												<div class="fl_icn_g">
													<a href="">
														<img src="./images/common_193_squicon.jpg" alt="">
													</a>
												</div>
												<dl>
													<dt>
														<a href="">客服专区</a>
													</dt>
													<dd>
														<a href="">链接到外部地址</a>
													</dd>
												</dl>
											</td>
										</tr>
										<tr>
											<td class="fl_g">
												<div class="fl_icn_g">
													<a href="">
														<img src="./images/common_220_squicon.jpg" alt="">
													</a>
												</div>
												<dl>
													<dt>
														<a href="">首都网警小贴士</a>
													</dt>
													<dd>
														<em>主题: 7</em>
														,
														<em>帖数: 18</em>
													</dd>
													<dd>
														<a href="">最后发表: 2020-4-11 15:57</a>
													</dd>
												</dl>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
					<div class="pgt">
						<span class="pgb">
							<a href="">返&nbsp;回</a>
						</span>
						<a href="" class="newspecial">发帖</a>
					</div>
					<div class="threadlist">
						<div class="th">
							<table cellspacing="0" cellpadding="0">
								<tbody>
									<tr>
										<th>
											<div class="tf">
												<span class="atarget">新窗</span>
												<a href="" class="showmenu xi2">全部主题</a>
												&nbsp;
												<a href="" class="xi2">最新</a>
												&nbsp;
												<a href="" class="xi2">热门</a>
												&nbsp;
												<a href="" class="xi2">热帖</a>
												&nbsp;
												<a href="" class="xi2">精华</a>
												&nbsp;
												<a href="" class="showmenu xi2">更多</a>
												&nbsp;
												<a href="javascript:;" class="forumrefresh"></a>
											</div>
										</th>
										<td class="by">作者</td>
										<td class="num">回复/查看</td>
										<td class="by">最后发表</td>
									</tr>
								</tbody>
							</table>
						</div>
						<div class="bm_c">
							<form action="" method="post" autocomplete="off" name="moderate" class="moderate">
								<table>
									<tbody>
										<tr>
											<td class="icn">
												<a href="">
													<img src="./images/folder_common.gif" alt="">
												</a>
											</td>
											<th class="common">
												<a href="" class="s xst">DOTA2 3月6日更新：全新英雄 玛尔斯</a>
											</th>
											<td class="by">
												<cite>
													<a href="">客服文月</a>
												</cite>
												<em>
													<span>2019-3-7</span>
												</em>
											</td>
											<td class="num">
												<a href="">0</a>
												<em>12850</em>
											</td>
											<td class="by">
												<cite>
													<a href="">客服文月</a>
												</cite>
												<em>
													<span>2019-3-7 00:15</span>
												</em>
											</td>
										</tr>
									</tbody>
									<tbody></tbody>
								</table>
								<table>
									<tbody>
										<tr>
											<td class="icn">
												<a href="">
													<img src="./images/folder_common.gif" alt="">
												</a>
											</td>
											<th class="common">
												<a href="" class="s xst">DOTA2 3月6日更新：卓尔游侠模型重制</a>
											</th>
											<td class="by">
												<cite>
													<a href="">客服文月</a>
												</cite>
												<em>
													<span>2019-3-7</span>
												</em>
											</td>
											<td class="num">
												<a href="">0</a>
												<em>3106</em>
											</td>
											<td class="by">
												<cite>
													<a href="">客服文月</a>
												</cite>
												<em>
													<span>2019-3-7 00:13</span>
												</em>
											</td>
										</tr>
									</tbody>
									<tbody></tbody>
								</table>
							</form>
						</div>
					</div>
					<div class="pgt">
						<span class="pgb">
							<a href="">返&nbsp;回</a>
						</span>
						<a href="" class="newspecial">发帖</a>
					</div>
					<div class="f_pst">
						<div class="bm_h">
							<h2>快速发帖</h2>
						</div>
						<div class="bm_c">
							<form action="" method="post" autocomplete="off" class="fastpostform">
								<div class="pbt cl">
									<input type="text" class="px" name="subject" id="subject">
									<span>
										还可输入
										<strong>80</strong>
										个字符
									</span>
								</div>
								<div class="cl">
									<div class="hasfsl">
										<div class="tedt">
											<div class="bar">
												<span class="y">
													<a href="">高级模式</a>
												</span>
												<div class="fpd">
													<a href="javascript:;" class="fbld">B</a>
													<a href="javascript:;" class="fclr">Color</a>
													<a href="javascript:;" class="fmg">Image</a>
													<a href="javascript:;" class="flnk">Link</a>
													<a href="javascript:;" class="fqt">Quote</a>
													<a href="javascript:;" class="fcd">Code</a>
													<a href="javascript:;" class="fsml">Smilies</a>
												</div>
											</div>
											<div class="area">
												<div class="pt hm">
													您需要登录后才可以发帖
													<a href="">登录</a>
													|
													<a href="">立即注册</a>
												</div>
											</div>
										</div>
									</div>
								</div>
								<p class="ptm pnpost">
									<a href="" class="y">本版积分规则</a>
									<button type="submit" class="pn pnc">
										<strong>发表帖子</strong>
									</button>
								</p>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="ft">
		<div class="flk y">
			<p>
				<a href="">Archiver</a>
				<span class="pipe">|</span>
				<a href="">手机版</a>
				<span class="pipe">|</span>
				<a href="">小黑屋</a>
				<span class="pipe">|</span>
				<strong>
					<a href="">完美游戏</a>
				</strong>
			</p>
			<p class="xs0">Processed in 0.052399 second(s), 16 queries.</p>
		</div>
		<div class="frt">
			<p>
				Powered by
				<strong>
					<a href="">Discuz!</a>
				</strong>
				<em>X3.4</em>
			</p>
			<p class="xs0">Copyright © 2001-2020, Tencent Cloud.</p>
		</div>
	</div>
	
	<div class="paybot_wrap">
		<div class="paybot_wrap_link">
			<div>
				<a href="">公司介绍</a>
				|
				<a href="">开发团队</a>
				|
				<a href="">招聘信息</a>
				|
				<a href="">联系我们</a>
				|
				<a href="">法律声明</a>
				|
				<a href="">用户协议</a>
				|
				<a href="">隐私政策</a>
				|
				<a href="">儿童隐私保护指引</a>
				|
				<a href="">Cookie政策</a>
				|
				<a href="">纠纷处理</a>
				|
				<a href="">网站地图</a>
			</div>
		</div>
		<div class="paybot_wrap_p">
			京ICP证15067283号-1  《网络文化经营许可证》编号：文网文【2017】8929-1007号  
			<a href="">《网络视听许可证》编号：0110587</a>
			  京公网安备11010502033859号
			  <br>
			<span>© 完美世界 版权所有　Perfect World. All Rights Reserved.</span>
		</div>
		<div class="paybot_wrap_img">
			<a href="">
				<img src="./images/bot_img1.png" alt="">
			</a>
			<a href="">
				<img src="./images/bot_img2.png" alt="">
			</a>
		</div>
	</div>
	<script src="javascripts/jquery.js"></script>
	<script src="javascripts/bbs_top.js"></script>
</body>
</html>