<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<link rel="icon" href="./../images/dota2.png">
		<title>初识DOTA2 - DOTA2 - 刀塔官方网站 - 全球顶级竞技 唯一正统续作</title>
		<link rel="stylesheet" href="stylesheets/data.css">
		<link rel="stylesheet" href="stylesheets/head.css">
		<link rel="stylesheet" href="stylesheets/foot.css">
		<link rel="stylesheet" href="stylesheets/go_top.css">
	</head>
	<body>
		<div class="box">
			<div class="nav">
				<div class="nav_main">
					<a href="#"></a>
					<div class="dota2nav">
						<div class="link_div">
							<a href="/index" class="a1">
								<span>首页</span>
								<span class="s2">HOME</span>
							</a>
							<ul class="link_pop">
								<li><a href="/ppz" class="a2">品牌站</a></li>
								<li><a href="/login" class="a2">个人中心</a></li>
								<li><a href="#" class="a2">神秘商店</a></li>
							</ul>
						</div>
						<div class="link_div">
							<a href="/news" class="a1">
								<span>资讯</span>
								<span class="s2">NEWS</span>
							</a>
							<ul class="link_pop">
								<li><a href="/news" class="a2">官方新闻</a></li>
								<li><a href="/game" class="a2">赛事新闻</a></li>
								<li><a href="/renew" class="a2">跟新日志</a></li>
								<li><a href="strategy" class="a2">游戏攻略</a></li>
							</ul>
						</div>
						<div class="link_div">
							<a href="/saishi" class="a1">
								<span>赛事</span>
								<span style="margin-left: -5px;" class="s2">TOURNAMENTS</span>
							</a>
						</div>
						<div class="link_div">
							<a href="/data" class="a1">
								<span>互动</span>
								<span class="s2">INTERACTION</span>
							</a>
							<ul class="link_pop">
								<li><a href="/zonghe" class="a2">精彩综合</a></li>
								<li><a href="/huodong" class="a2">官方活动</a></li>
								<li><a href="#" class="a2">玩家论坛</a></li>
								<li><a href="#" class="a2">新浪微博</a></li>
								<li><a href="#" class="a2">官方微信</a></li>
							</ul>
						</div>
						<div class="link_div">
							<a href="/data" class="a1">
								<span>资料</span>
								<span class="s2">DATA</span>
							</a>
							<ul class="link_pop">
								<li><a href="/heroes" class="a2">英雄资料</a></li>
								<li><a href="/items" class="a2">物品资料</a></li>
								<li><a href="#" class="a2">自定义地图</a></li>
								<li><a href="#" class="a2">新手引导</a></li>
							</ul>
						</div>
						<div class="link_div">
							<a href="/bbs" class="a1">
								<span>服务</span>
								<span class="s2">SERVICE</span>
							</a>
							<ul class="link_pop">
								<li><a href="/service" class="a2">客服中心</a></li>
								<li><a href="online" class="a2">在线客服</a></li>
								<li><a href="/contact" class="a2">自助专区</a></li>
								<li><a href="#" class="a2">被盗找回</a></li>
								<li><a href="#" class="a2">忘记账号</a></li>
								<li><a href="/select" class="a2">通行证查询</a></li>
								<li><a href="/parents" class="a2">家长监护</a></li>
							</ul>
						</div>
						<div class="link_div">
							<a href="#" class="a1">
								<span>下载</span>
								<span class="s2">DOWNLOAD</span>
							</a>
							<ul class="link_pop">
								<li><a href="#" class="a2">游戏下载</a></li>
								<li><a href="#" class="a2">精美壁纸</a></li>
								<li><a href="#" class="a2">官方漫画</a></li>
							</ul>
						</div>
					</div>
					<div class="dota2user">
						<i></i>
						<div class="enter-box">
							<p><span>您好，请 </span><a href="#">登陆</a></p>
							<span class="tt">登录后可进入您的个人中心</span>
						</div>
					</div>
				</div>
			</div>
			<div class="warp">
				<div class="main">
					<div class="bg_link">
						<a href="#"></a>
					</div>
					<div style="clear:both;"></div>
					<div class="float_left">
						<div class="aside_nav">
							<ul>
								<li><a href="#"></a></li>
								<li><a href="#"></a></li>
								<li><a href="/download"></a></li>
								<li><a href="/raiders"></a></li>
								<li><a href="/advanced"></a></li>
								<li><a href="/heroes"></a></li>
								<li><a href="/items"></a></li>
								<li class="erweima">
									<p class="erp1">在踏上你的征程之前，还有问题？</p>
									<p class="erp2">让完美刀塔助手助你一臂之力</p>
									<div class="er">
										<div class="erimg"></div>
										<div class="right_text">
											<p>
												扫描二维码 免费下载<br>
												点击下载按钮自动进入<br>
												对应版本免费下载<br>
												在应用商店搜索"
												<a href="">完美<br>刀塔助手</a>
												"免费下载
											</p>
										</div>
									</div>
									<div class="other_ways">
										<p>OR</p>
										<div class="text">
											<p>如有问题，请联系<a href="#">在线客服</a></p>
										</div>
										<div class="lianjie">
											<a href=""><span class="s1"></span>新浪微博</a>
											<a href=""><span class="s2"></span>腾讯微博</a>
										</div>
									</div>
								</li>
							</ul>
						</div>
					</div>
					<div class="float_right">
						<div class="float_right_header">
							<div class="page_title">
								<h2><span></span>初始DOTA2</h2>
							</div>
							<div class="page_site">
								<span>您的位置：</span>
								<a href="#">首页</a>
								<span>></span>
								<a href="#">游戏资料</a>
								<span>></span>
								<a href="#">初识DOTA2</a>
							</div>
						</div>
						<div class="introduce section">
							<div class="s01">
								<div class="video_box">
									<video src="//gamevideo.wmupd.com/dota2media/media/dota2_cg_chinese.mp4" controls width="425px";height="240px";loop poster="./../images/video1.jpg"></video>
								</div>
							</div>
							<div class="s02">
								<div class="titB">什么是DOTA2?</div>
								<div class="titS">英雄对战始祖</div>
								<p>
									DOTA2是由DotA之父Icefrog主创打造的唯一正统续作，
									其完整继承了原作DotA超过一百位的英雄。DOTA2的玩法和
									DotA完全相同，通过顶级的系统、美术和功能，呈现出了
									超越经典且原味十足的体验感觉。拥有顶级品质，竞争力
									十足的DOTA2已然主宰了时代的脉动，其必将让所有DOTAer
									的骄傲、荣耀与执着得到承载，延续永恒。为信仰守护，
									开始新的战斗吧！
								</p>
							</div>
						</div>
						<div class="section">
							<div class="s02">
								<div class="titB">英雄对战游戏</div>
								<div class="titS">经典玩法 十年沉淀</div>
								<p>
									DOTA2的世界由天辉和夜魇两个阵营所辖区域组成，有
									上、中、下三条主要的作战道路相连接，中间以河流为
									界。在这个充满神秘和挑战的世界中，通常每个阵营分
									别由五位玩家所扮演的英雄担任守护者，他们将以守护
									己方远古遗迹并摧毁敌方远古遗迹为使命，通过提升等
									级、赚取金钱、购买装备和击杀敌方英雄等诸多竞技手段。
									与对手斗智斗勇，为了最终的胜利而战！
								</p>
							</div>
							<div class="s01">
								<div class="video_box">
									<video src="//gamevideo.wmupd.com/dota2media/media/dota2_info_01.mp4" controls width="425px";height="240px";loop poster="./../images/video2.jpg"></video>
								</div>
							</div>
						</div>
						<div class="section">
							<div class="s01">
								<div class="video_box">
									<video src="//gamevideo.wmupd.com/dota2media/media/This_Is_DOTA_chn.mp4" controls width="425px";height="240px";loop poster="./../images/video3.jpg"></video>
								</div>
							</div>
							<div class="s02">
								<div class="titB">正统电子竞技血统</div>
								<div class="titS">百位英雄 待你征招</div>
								<p>
									DOTA2是一个充满技巧、策略和变化的电子竞技游戏。在战
									斗开始前，所有人将会从一百多个英雄中选择一个，每个英
									雄都会有独特的能力，优点与弱点。击杀小兵或对方英
									雄获得奖励从而提升自己的装备和等级。随着英雄力量增强，
									可以集合团队进攻对方三条线上的防御塔，然后深入对方基
									地并摧毁对方兵营，最后当一方的遗迹被彻底摧毁时，游戏
									结束。这就是DOTA2！
								</p>
							</div>
						</div>
						<div class="button_conts">
							<a href="#"><img src="./../images/btn_down.jpg" alt=""></a>
							<a href="#" class="zuce"><img src="./../images/btn_reg.jpg" alt=""></a>
						</div>
					</div>
					<div style="clear:both;"></div>
				</div>
			</div>
			<div style="clear:both;"></div>
			<div class="bottom">
				<div class="foot_dl">
					<div class="dt">
						<a href="#"><img src="./../images/logo-wanmei20180327.png" alt=""></a>
						<a href="#"><img src="./../images/logo-valve.png" alt=""></a>
					</div>
					<div class="dd">
						© 完美世界 版权所有　Perfect World. All Rights Reserved. <br>
						© 2012 Valve Corporation. All Rights reserved. Licensed to Beijing Perfect World Network Technology Co., Ltd. in China
					</div>
				</div>
				<p class="certificate">
					京ICP证：050016号
					<a href="#">《网络文化经营许可证》编号：京网文[2017]8929-1007号</a>
					《网络视听许可证》编号：0110587<br>
					京公网安备11010502033859号
					<a href="#"> 新出审字[2013] 1505号 ISBN：978-7-89989-826-0 | </a>
					<a href="" style="color:#53bdfa;">家长监护</a> | <a href="" style="color:#53bdfa;">纠纷处理</a> | <a href="" style="color:#53bdfa;">营业执照</a> | <a href="" style="color:#53bdfa;">儿童隐私保护指引</a>
				</p>
				<p class="remark">本网络游戏适合年满17岁以上的用户使用：请您确定已如实进行实名注册。为了您的健康，请合理控制游戏时间。</p>
			</div>
			<!-- 返回顶部 -->
			<div class="go_top"></div>
		</div>
		<script type="text/javascript" src="javascripts/jquery.min.js" ></script>
		<script type="text/javascript" src="javascripts/go_top.js" ></script>
	</body>
</html>