<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<link rel="icon" href="./../images/dota2.png">
		<title>初识DOTA2 - DOTA2 - 刀塔官方网站 - 全球顶级竞技 唯一正统续作</title>
		<link rel="stylesheet" href="stylesheets/data.css">
		<link rel="stylesheet" href="stylesheets/head.css">
		<link rel="stylesheet" href="stylesheets/foot.css">
		<link rel="stylesheet" href="stylesheets/download.css">
		<link rel="stylesheet" href="stylesheets/go_top.css">
	</head>
	<body>
		<div class="box">
			<div class="nav">
				<div class="nav_main">
					<a href="#"></a>
					<div class="dota2nav">
						<div class="link_div">
							<a href="/index" class="a1">
								<span>首页</span>
								<span class="s2">HOME</span>
							</a>
							<ul class="link_pop">
								<li><a href="/ppz" class="a2">品牌站</a></li>
								<li><a href="/login" class="a2">个人中心</a></li>
								<li><a href="#" class="a2">神秘商店</a></li>
							</ul>
						</div>
						<div class="link_div">
							<a href="/news" class="a1">
								<span>资讯</span>
								<span class="s2">NEWS</span>
							</a>
							<ul class="link_pop">
								<li><a href="/news" class="a2">官方新闻</a></li>
								<li><a href="/game" class="a2">赛事新闻</a></li>
								<li><a href="/renew" class="a2">跟新日志</a></li>
								<li><a href="/strategy" class="a2">游戏攻略</a></li>
							</ul>
						</div>
						<div class="link_div">
							<a href="/saishi" class="a1">
								<span>赛事</span>
								<span style="margin-left: -5px;" class="s2">TOURNAMENTS</span>
							</a>
						</div>
						<div class="link_div">
							<a href="/data" class="a1">
								<span>互动</span>
								<span class="s2">INTERACTION</span>
							</a>
							<ul class="link_pop">
								<li><a href="/zonghe" class="a2">精彩综合</a></li>
								<li><a href="/huodong" class="a2">官方活动</a></li>
								<li><a href="#" class="a2">玩家论坛</a></li>
								<li><a href="#" class="a2">新浪微博</a></li>
								<li><a href="#" class="a2">官方微信</a></li>
							</ul>
						</div>
						<div class="link_div">
							<a href="/data" class="a1">
								<span>资料</span>
								<span class="s2">DATA</span>
							</a>
							<ul class="link_pop">
								<li><a href="/heroes" class="a2">英雄资料</a></li>
								<li><a href="/items" class="a2">物品资料</a></li>
								<li><a href="#" class="a2">自定义地图</a></li>
								<li><a href="#" class="a2">新手引导</a></li>
							</ul>
						</div>
						<div class="link_div">
							<a href="/bbs" class="a1">
								<span>服务</span>
								<span class="s2">SERVICE</span>
							</a>
							<ul class="link_pop">
								<li><a href="/service" class="a2">客服中心</a></li>
								<li><a href="/online" class="a2">在线客服</a></li>
								<li><a href="/contact" class="a2">自助专区</a></li>
								<li><a href="#" class="a2">被盗找回</a></li>
								<li><a href="#" class="a2">忘记账号</a></li>
								<li><a href="/select" class="a2">通行证查询</a></li>
								<li><a href="/parents" class="a2">家长监护</a></li>
							</ul>
						</div>
						<div class="link_div">
							<a href="#" class="a1">
								<span>下载</span>
								<span class="s2">DOWNLOAD</span>
							</a>
							<ul class="link_pop">
								<li><a href="#" class="a2">游戏下载</a></li>
								<li><a href="#" class="a2">精美壁纸</a></li>
								<li><a href="#" class="a2">官方漫画</a></li>
							</ul>
						</div>
					</div>
					<div class="dota2user">
						<i></i>
						<div class="enter-box">
							<p><span>您好，请 </span><a href="#">登陆</a></p>
							<span class="tt">登录后可进入您的个人中心</span>
						</div>
					</div>
				</div>
			</div>
			<div class="warp">
				<div class="main">
					<div class="bg_link">
						<a href="#"></a>
					</div>
					<div style="clear:both;"></div>
					<div class="float_left">
						<div class="aside_nav">
							<ul>
								<li><a href="#"></a></li>
								<li><a href="/data"></a></li>
								<li><a href="/download"></a></li>
								<li><a href="/raiders"></a></li>
								<li><a href="/advanced"></a></li>
								<li><a href="/heroes"></a></li>
								<li><a href="/items"></a></li>
								<li class="erweima">
									<p class="erp1">在踏上你的征程之前，还有问题？</p>
									<p class="erp2">让完美刀塔助手助你一臂之力</p>
									<div class="er">
										<div class="erimg"></div>
										<div class="right_text">
											<p>
												扫描二维码 免费下载<br>
												点击下载按钮自动进入<br>
												对应版本免费下载<br>
												在应用商店搜索"
												<a href="">完美<br>刀塔助手</a>
												"免费下载
											</p>
										</div>
									</div>
									<div class="other_ways">
										<p>OR</p>
										<div class="text">
											<p>如有问题，请联系<a href="#">在线客服</a></p>
										</div>
										<div class="lianjie">
											<a href=""><span class="s1"></span>新浪微博</a>
											<a href=""><span class="s2"></span>腾讯微博</a>
										</div>
									</div>
								</li>
							</ul>
						</div>
					</div>
					<div class="float_right">
						<div class="float_right_header">
							<div class="page_title">
								<h2><span></span>下载与配置</h2>
							</div>
							<div class="page_site">
								<span>您的位置：</span>
								<a href="#">首页</a>
								<span>></span>
								<a href="#">游戏资料</a>
								<span>></span>
								<a href="#">下载与配置</a>
							</div>
						</div>
						<!-- 切换的模块 -->
						<div class="titC">畅玩游戏流程</div>
						<div class="chart_box">
							<a href="#" class="a1"></a>
							<a href="#" class="a2"></a>
							<a href="#" class="a3"></a>
							<a href="#" class="a4"></a>
						</div>
						<div class="titC">配置需求</div>
						<div class="configure">
							<div class="configureL">
								<div class="configureL_tit">最低配置</div>
								<div class="table_box">
								<table>
									<tbody>
										<tr>
											<td class="f01">操作系统：</td>
											<td>Windows 7</td>
										</tr>
										<tr>
											<td class="f01">CPU：</td>
											<td>Intel 或 AMD双核(Dual core) 2.8 GHz</td>
										</tr>
										<tr>
											<td class="f01">内存：</td>
											<td>4 GB</td>
										</tr>
										<tr>
											<td class="f01">显卡：</td>
											<td>nVidia GeForce 8600/9600GT <br>或 ATI/AMD Radeon HD2600/3600</td>
										</tr>
										<tr>
											<td class="f01">DirectX：</td>
											<td>Version 9.0c</td>
										</tr>
										<tr>
											<td class="f01">网络：</td>
											<td>支持宽带互联网链接</td>
										</tr>
										<tr>
											<td class="f01">硬盘空间：</td>
											<td>8 GB 可用空间以上</td>
										</tr>
										<tr>
											<td class="f01">声卡：</td>
											<td>兼容DirectX</td>
										</tr>
									</tbody>
								</table>
							</div>
							</div>
							<div class="configureL quboder">
								<div class="configureL_tit">建议配置</div>
								<div class="table_box">
								<table>
									<tbody>
										<tr>
											<td class="f01">操作系统：</td>
											<td>Windows 7</td>
										</tr>
										<tr>
											<td class="f01">CPU：</td>
											<td>i3或者以上级别CPU</td>
										</tr>
										<tr>
											<td class="f01">内存：</td>
											<td>4 GB或更多</td>
										</tr>
										<tr>
											<td class="f01">显卡：</td>
											<td>nVidia GeForce GTX650 <br>或 ATI/AMD HD7750以上</td>
										</tr>
										<tr>
											<td class="f01">DirectX：</td>
											<td>Version 9.0c</td>
										</tr>
										<tr>
											<td class="f01">网络：</td>
											<td>支持宽带互联网链接</td>
										</tr>
										<tr>
											<td class="f01">硬盘空间：</td>
											<td>8 GB 可用空间以上</td>
										</tr>
										<tr>
											<td class="f01">声卡：</td>
											<td>兼容DirectX</td>
										</tr>
									</tbody>
								</table>
							</div>
							</div>
							<div style="clear:both;"></div>
						</div>
						<div class="titC">常见问题</div>
						<div class="questions">
							<div class="q01">问：为什么我需要注册两个账号？</div>
							<p>答：DOTA2账号（Steam账号）是进行游戏时使用的账号，游戏数据和昵称来自于此账号。<br>完美通行证提供游戏充值，参与活动及官网服务等功能。<br>
								推荐下载客户端后，在客户端上注册DOTA2账号，然后根据提示注册完美通行证并进行绑定。
							</p>
							<div class="line"></div>
							<div class="q01">问：如果我回归国服的话，我账号上的战绩和饰品还有吗？</div>
							<p>答：原来Steam账号上的战绩信息和饰品数据回归国服后将完全继承，不会出现战绩、饰品归零的情况。<br></p>
							<div class="line"></div>
							<div class="q01">问：如果我回归国服的话会对我以后回Steam游戏有影响吗？</div>
							<p>答：回归国服后并不会收回在Steam上的游戏资格和账号记录。</p>
							<div class="line"></div>
							<div class="q01">问：运行DOTA2时，弹出DirectX的安装窗口是怎么回事？</div>
							<p>答：首次运行DOTA2将自动安装DirectX（无论之前是否装过），只需等待即可。</p>
							<div class="line"></div>
							<div class="q01">问：运行游戏后显示"正在连接到DOTA2网络"怎么办？</div>
							<p>答：1. 请检查您的网络设置，确保已经正常连接至互联网。网络连接没有问题的情况下，一般耐心等待片刻后即可进入游戏。</p>
							<p>2. 如果等待无效，请完全关闭客户端后（建议确认进程是否都已关闭），删除DOTA2国服安装目录下的"Package"文件夹，以及"ClientRegistry.blob"文件。再启动客户端，显示steam更新后即可正常登入游戏。 </p>
							<p>3. 如果以上两步不能解决问题，请尝试重复操作。</p>
							<div class="line"></div>
							<div class="q01">问：进入客户端后【运行DOTA2】按钮无法点击怎么办？</div>
							<p>答： 1. 当客户端需要更新时【运行DOTA2】将无法点击，请耐心等待更新进程自动开始。当更新完成后，您即可选择【运行DOTA2】进入DOTA2。</p>
							<p>2. 如果长时间处于无更新的状态，请尝试完全关闭客户端重启再试。或尝试删除DOTA2国服安装目录下的"Package"文件夹，重启显示steam更新后进入客户端即可正常开始更新。</p>
							<div class="line"></div>
							<div class="q01">问：完美通行证是充值账号，我不记得绑定的账号了怎么办呢？</div>
							<p>答： 只要登录DOTA2进入游戏页面，点击商城首页右上方的【刀币】按钮，既会跳转至DOTA2充值中心，页面自动显示您DOTA2账号绑定的完美通行证</p>
							<div class="line"></div>
							<div class="q01">问：我的问题没有找到相应的解决方法，到哪里去进行反馈呢？</div>
							<p>答： 您可以通过以下客服渠道反馈问题：<br>
								1) <a href="">在线客服</a><br>
								2) <a href="">客服中心</a>
							</p>
						</div>
						
						<!-- 下载游戏按钮与注册账号按钮 -->
						<div class="button_conts">
							<a href="#"><img src="./../images/btn_down.jpg" alt=""></a>
							<a href="#" class="zuce"><img src="./../images/btn_reg.jpg" alt=""></a>
						</div>
					</div>
					<div style="clear:both;"></div>
				</div>
			</div>
			<div style="clear:both;"></div>
			<div class="bottom">
				<div class="foot_dl">
					<div class="dt">
						<a href="#"><img src="images/logo-wanmei20180327.png" alt=""></a>
						<a href="#"><img src="images/logo-valve.png" alt=""></a>
					</div>
					<div class="dd">
						© 完美世界 版权所有　Perfect World. All Rights Reserved. <br>
						© 2012 Valve Corporation. All Rights reserved. Licensed to Beijing Perfect World Network Technology Co., Ltd. in China
					</div>
				</div>
				<p class="certificate">
					京ICP证：050016号
					<a href="#">《网络文化经营许可证》编号：京网文[2017]8929-1007号</a>
					《网络视听许可证》编号：0110587<br>
					京公网安备11010502033859号
					<a href="#"> 新出审字[2013] 1505号 ISBN：978-7-89989-826-0 | </a>
					<a href="" style="color:#53bdfa;">家长监护</a> | <a href="" style="color:#53bdfa;">纠纷处理</a> | <a href="" style="color:#53bdfa;">营业执照</a> | <a href="" style="color:#53bdfa;">儿童隐私保护指引</a>
				</p>
				<p class="remark">本网络游戏适合年满17岁以上的用户使用：请您确定已如实进行实名注册。为了您的健康，请合理控制游戏时间。</p>
			</div>
			<!-- 返回顶部 -->
			<div class="go_top"></div>
		</div>
		<script type="text/javascript" src="javascripts/jquery.min.js" ></script>
		<script type="text/javascript" src="javascripts/go_top.js" ></script>
	</body>
</html>