<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DOTA2 - 刀塔官方网站 - 品牌站</title>
    <link rel="shortcut icon" href="images/dota2.png" type="image/x-icon">
    <link rel="stylesheet" href="stylesheets/reset.css">
</head>
<body>
<!--<p><%=username%></p>-->
<!--<p><%=password%></p>-->
<!--<p><%=name%></p>-->
<!--<p><%=idcard%></p>-->
<script type="text/javascript" src="javascripts/jquery-3.2.0.js" ></script>
</body>
</html>