<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DOTA2 - 刀塔官方网站</title>
    <link rel="shortcut icon" href="images/dota2.png" type="image/x-icon">
    <link rel="stylesheet" href="stylesheets/reset.css">
    <link rel="stylesheet" href="stylesheets/index.css">
</head>
<body>
<div id="wrap">
    <div class="nav">
        <div class="header">
            <img src="images/navlogo.png" alt="" class="logo">
            <ul class="list">
                <li class="hover">
                    <a href="/index">
                        <span class="up">首页</span>
                        <span class="down">HOME</span>
                    </a>
                    <div class="link">
                        <a href="/ppz">品牌站</a>
                        <a href="/login" class="personct">个人中心</a>
                        <a href="javascript:;">神秘商店</a>
                    </div>
                </li>
                <li class="hover">
                    <a href="/news">
                        <span class="up">资讯</span>
                        <span class="down">NEWS</span>
                    </a>
                    <div class="link">
                        <a href="/renew">官方新闻</a>
                        <a href="/strategy">赛事新闻</a>
                        <a href="/tournaments">更新日志</a>
                        <a href="javascript:;">游戏攻略</a>
                    </div>
                </li>
                <li>
                    <a href="/saishi">
                        <span class="up">赛事</span>
                        <span class="down ml">TOURNAMENTS</span>
                    </a>
                </li>
                <li class="hover">
                    <a href="/data">
                        <span class="up">互动</span>
                        <span class="down">INTERACTION</span>
                    </a>
                    <div class="link">
                        <a href="/zonghe">精彩综合</a>
                        <a href="/huodong">官方活动</a>
                        <a href="javascript:;">玩家论坛</a>
                        <a href="javascript:;">新浪微博</a>
                        <a href="javascript:;">官方微信</a>
                    </div>
                </li>
                <li class="hover">
                    <a href="/data">
                        <span class="up">资料</span>
                        <span class="down">DATA</span>
                    </a>
                    <div class="link">
                        <a href="/heroes">英雄资料</a>
                        <a href="/items">物品资料</a>
                        <a href="javascript:;">自定义地图</a>
                        <a href="javascript:;">新手引导</a>
                    </div>
                </li>
                <li class="hover">
                    <a href="/bbs">
                        <span class="up">服务</span>
                        <span class="down">SERVICE</span>
                    </a>
                    <div class="link">
                        <a href="/service">客服中心</a>
                        <a href="/online">在线客服</a>
                        <a href="javascript:;">自助专区</a>
                        <a href="javascript:;">被盗找回</a>
                        <a href="javascript:;">忘记账号</a>
                        <a href="javascript:;">通行证查询</a>
                        <a href="javascript:;">家长监护</a>
                    </div>
                </li>
                <li class="hover">
                    <a href="javascript:;">
                        <span class="up">下载</span>
                        <span class="down">DOWNLOAD</span>
                    </a>
                    <div class="link">
                        <a href="javascript:;">游戏下载</a>
                        <a href="javascript:;">精美壁纸</a>
                        <a href="javascript:;">官方漫画</a>
                    </div>
                </li>
            </ul>
            <div class="dota2user">
                <i></i>
                <div class="enter-box">
                    <p><span>您好，请 </span><a href="javascript:;">登陆</a></p>
                    <span class="tt">登录后可进入您的个人中心</span>
                </div>
            </div>
        </div>
        <div class="overlay"></div>
        <div class="loginwrap">
            <a href="javascript:;" class="close"></a>
            <form action="#" method="post">
                <div class="login-container">
                    <div class="login-content">
                        <div class="login-notify"></div>
                        <div class="username">
                            <i></i>
                            <input type="text" name="username" placeholder="电子邮件地址/手机号" class="username1">
                        </div>
                        <div class="password">
                            <i></i>
                            <input type="password" name="password" placeholder="请输入您的密码" class="password1">
                        </div>
                        <div class="forget">
                            <label for="rememberme" class="labelre">
                                <input type="checkbox" id="rememberme">
                                <i></i>下次自动登录
                            </label>
                            <a href="javascript:;">忘记密码?</a>
                        </div>
                    </div>
                    <div class="loginbtn">
                        <a href="javascript:;">登&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;录</a>
                    </div>
                    <div class="loginhelp">
                        <a href="/register">免费注册完美通行证帐号</a>
                        <a href="javascript:;">使用DOTA2账号找回完美通行证</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="box">
        <div class="banner">
            <ul class="imgslist">
                <li style="opacity: 1;"><a href=""><img src="images/lb1.png" alt=""></a></li>
                <li><a href=""><img src="images/lb2.jpg" alt=""></a></li>
                <li><a href=""><img src="images/lb3.jpg" alt=""></a></li>
                <li><a href=""><img src="images/lb4.jpg" alt=""></a></li>
                <li><a href=""><img src="images/lb5.jpg" alt=""></a></li>
            </ul>
            <ul class="circlelist">
                <li style="background:rgba(255,255,255,0.6);border-color:rgba(81,81,81,0.6)" id="1"></li>
                <li id="2"></li>
                <li id="3"></li>
                <li id="4"></li>
                <li id="5"></li>
            </ul>
            <div class="ban-left">&lt;</div>
            <div class="ban-right">&gt;</div>
        </div>
    </div>
    <div class="section">
        <div class="left_box">
            <a href="javascript:;" class="left1">
                <span class="s1"></span>
            </a>
            <a href="javascript:;" class="left2">
                <span class="s2"></span>
            </a>
            <a href="javascript:;" class="left3">
                <span class="s3"></span>
            </a>
        </div>
        <div class="right_box">
            <a href="javascript:;" class="right1">
                <span class="s1"></span>
            </a>
            <a href="javascript:;" class="right2">
                <span class="s2"></span>
            </a>
            <a href="javascript:;" class="right3">
                <span class="s3"></span>
            </a>
        </div>
    </div>
    <div class="section1">
        <div class="left_box">
            <div class="title">
                <div class="left">
                    <i class="icon_new"></i>
                    <span>新闻中心</span>
                </div>
                <div class="right">
                    <a href="javascript:;">更多</a>
                    <i class="icon_more"></i>
                </div>
            </div>
            <div class="content">
                <ul class="tabs">
                    <li class="tab tab_action">综合新闻</li>
                    <li class="tab">官方新闻</li>
                    <li class="tab">赛事新闻</li>
                    <li class="tab">更新日志</li>
                </ul>
                <ul class="panels">
                    <li class="panel zhnews panel_action">
                        <div class="lists">
                            <a href="javascript:;" class="recommend"></a>
                            <a href="javascript:;" class="u_list u_highlight"></a>
                            <a href="javascript:;" class="u_list"></a>
                            <a href="javascript:;" class="u_list u_highlight"></a>
                            <a href="javascript:;" class="u_list"></a>
                            <a href="javascript:;" class="u_list u_highlight"></a>
                            <a href="javascript:;" class="u_list"></a>
                            <a href="javascript:;" class="u_list u_highlight"></a>
                        </div>
                    </li>
                    <li class="panel gfnews">
                        <div class="lists">
                            <a href="javascript:;" class="recommend"></a>
                            <a href="javascript:;" class="u_list u_highlight"></a>
                            <a href="javascript:;" class="u_list"></a>
                            <a href="javascript:;" class="u_list u_highlight"></a>
                            <a href="javascript:;" class="u_list"></a>
                            <a href="javascript:;" class="u_list u_highlight"></a>
                            <a href="javascript:;" class="u_list"></a>
                            <a href="javascript:;" class="u_list u_highlight"></a>
                        </div>
                    </li>
                    <li class="panel ssnews">
                        <div class="lists">
                            <a href="javascript:;" class="recommend"></a>
                            <a href="javascript:;" class="u_list u_highlight"></a>
                            <a href="javascript:;" class="u_list"></a>
                            <a href="javascript:;" class="u_list u_highlight"></a>
                            <a href="javascript:;" class="u_list"></a>
                            <a href="javascript:;" class="u_list u_highlight"></a>
                            <a href="javascript:;" class="u_list"></a>
                            <a href="javascript:;" class="u_list u_highlight"></a>
                        </div>
                    </li>
                    <li class="panel gxrzs">
                        <div class="lists">
                            <a href="javascript:;" class="recommend"></a>
                            <a href="javascript:;" class="u_list u_highlight"></a>
                            <a href="javascript:;" class="u_list"></a>
                            <a href="javascript:;" class="u_list u_highlight"></a>
                            <a href="javascript:;" class="u_list"></a>
                            <a href="javascript:;" class="u_list u_highlight"></a>
                            <a href="javascript:;" class="u_list"></a>
                            <a href="javascript:;" class="u_list u_highlight"></a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="right_box">
            <div class="hotvideo">
                <div class="title">
                    <div class="left">
                        <i></i>
                        <span>近期热点</span>
                    </div>
                </div>
                <div class="content">
                    <div class="video">
                        <a href="javascript:;" style="position: absolute; top:0; left:0; width: 100%; height: 100%; z-index: 3;"></a>
                        <video preload="preload" muted="true" loop="loop" autoplay autobuffer="true" poster="//img.dota2.com.cn/file/70/cc/70cc081e63fad1b4a1a0697d3ded9b821567752500.jpg">
                            <source type="video/mp4" src="//img.dota2.com.cn/file/64/af/64af04ed122b16c4b60ff77a94e7d4731567509017.mp4">
                            <source type="video/webm" src="//img.dota2.com.cn/file/f2/fe/f2febf2e11209ba85f13e40863747ed61567509046.webm">
                        </video>
                    </div>
                </div>
            </div>
            <div class="racecenter">
                <div class="title">
                    <div class="left">
                        <i></i>
                        <span>赛事中心</span>
                    </div>
                    <div class="right">
                        <a href="javascript:;">更多</a>
                        <i></i>
                    </div>
                </div>
                <div class="content">
                    <div class="cl">
                        <a href="javascript:;">
                            <img src="images/rarece.jpg" alt="">
                            <span>2019刀塔国际邀请赛</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section2">
        <div class="left_box">
            <div class="title">
                <div class="left">
                    <i></i>
                    <span>活动中心</span>
                </div>
                <div class="right">
                    <div class="activity select">
                        <div class="border">官方活动</div>
                    </div>
                    <div class="activity">
                        <div class="border">活动赛事</div>
                    </div>
                    <div class="activity">
                        <div>推广活动</div>
                    </div>
                </div>
            </div>
            <div class="content">
                <div class="none active">
                    <div class="slide">
                        <div class="row">
                            <a href="javascript:;" class="ac">
                                <span>
                                    <img src="images/ac1.jpg" alt="">
                                </span>
                                <p>英雄修炼之路II</p>
                            </a>
                            <a href="javascript:;" class="ac">
                                <span>
                                    <img src="images/ac2.jpg" alt="">
                                </span>
                                <p>星沙杯DOTA2大赛</p>
                            </a>
                        </div>
                        <div class="row">
                            <a href="javascript:;" class="ac">
                                <span>
                                    <img src="images/ac3.png" alt="">
                                </span>
                                <p>完美世界SOLO路人王</p>
                            </a>
                            <a href="javascript:;" class="ac">
                                <span>
                                    <img src="images/ac4.jpg" alt="">
                                </span>
                                <p>2019完美世界城市挑战赛 秋季赛</p>
                            </a>
                        </div>
                        <div class="row">
                            <a href="javascript:;" class="ac">
                                <span>
                                    <img src="images/ac5.jpg" alt="">
                                </span>
                                <p>2019完美世界高校联赛 秋季赛</p>
                            </a>
                            <a href="javascript:;" class="ac">
                                <span>
                                    <img src="images/ac6.png" alt="">
                                </span>
                                <p>2019刀塔国际邀请赛</p>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="none ">
                    <div class="slide">
                        <div class="row">
                            <a href="javascript:;" class="ac">
                                <span>
                                    <img src="images/ac2.jpg" alt="">
                                </span>
                                <p>英雄修炼之路II</p>
                            </a>
                            <a href="javascript:;" class="ac">
                                <span>
                                    <img src="images/ac7.jpg" alt="">
                                </span>
                                <p>星沙杯DOTA2大赛</p>
                            </a>
                        </div>
                        <div class="row">
                            <a href="javascript:;" class="ac">
                                <span>
                                    <img src="images/ac3.png" alt="">
                                </span>
                                <p>完美世界SOLO路人王</p>
                            </a>
                            <a href="javascript:;" class="ac">
                                <span>
                                    <img src="images/ac4.jpg" alt="">
                                </span>
                                <p>2019完美世界城市挑战赛 秋季赛</p>
                            </a>
                        </div>
                        <div class="row">
                            <a href="javascript:;" class="ac">
                                <span>
                                    <img src="images/ac5.jpg" alt="">
                                </span>
                                <p>2019完美世界高校联赛 秋季赛</p>
                            </a>
                            <a href="javascript:;" class="ac">
                                <span>
                                    <img src="images/ac6.png" alt="">
                                </span>
                                <p>2019刀塔国际邀请赛</p>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="none ">
                    <div class="slide">
                        <div class="row">
                            <a href="javascript:;" class="ac">
                                <span>
                                    <img src="images/ac8.jpg" alt="">
                                </span>
                                <p>英雄修炼之路II</p>
                            </a>
                            <a href="javascript:;" class="ac">
                                <span>
                                    <img src="images/ac2.jpg" alt="">
                                </span>
                                <p>星沙杯DOTA2大赛</p>
                            </a>
                        </div>
                        <div class="row">
                            <a href="javascript:;" class="ac">
                                <span>
                                    <img src="images/ac3.png" alt="">
                                </span>
                                <p>完美世界SOLO路人王</p>
                            </a>
                            <a href="javascript:;" class="ac">
                                <span>
                                    <img src="images/ac4.jpg" alt="">
                                </span>
                                <p>2019完美世界城市挑战赛 秋季赛</p>
                            </a>
                        </div>
                        <div class="row">
                            <a href="javascript:;" class="ac">
                                <span>
                                    <img src="images/ac5.jpg" alt="">
                                </span>
                                <p>2019完美世界高校联赛 秋季赛</p>
                            </a>
                            <a href="javascript:;" class="ac">
                                <span>
                                    <img src="images/ac6.png" alt="">
                                </span>
                                <p>2019刀塔国际邀请赛</p>
                            </a>
                        </div>
                    </div>
                </div>
                <a href="javascript:;">
                    <div></div>
                </a>
            </div>
        </div>
        <div class="right_box">
            <div class="version">
                <div class="title">
                    <div class="left">
                        <i></i>
                        <span>版本更新</span>
                    </div>
                    <div class="right">
                        <a href="javascript:;">更多</a>
                        <i></i>
                    </div>
                </div>
                <div class="content">
                    <img src="images/version.jpg" alt="">
                    <p>7.26游戏改动</p>
                </div>
            </div>
            <div class="call">
                <div class="title">
                    <div class="left">
                        <i></i>
                        <span>客服中心</span>
                    </div>
                    <div class="right">
                        <a href="javascript:;">更多</a>
                        <i></i>
                    </div>
                </div>
                <div class="content">
                    <div class="search">
                        <form action="" method="get">
                            <div class="input">
                                <input class="srk" type="text" name="" placeholder="请输入您的问题">
                                <i></i>
                                <input type="submit" class="btn">
                            </div>
                        </form>
                        <a href="javascript:;">我要提问</a>
                    </div>
                    <div class="question">
                        <h3>常见问题</h3>
                        <div class="lists"></div>
                    </div>
                </div>
            </div>
            <div class="arrow">
                <span>展开</span>
                <div class="arrowdown"></div>
            </div>
        </div>
    </div>
    <div class="bottom">
        <div class="foot_dl">
            <div class="dt">
                <a href="javascript:;"><img src="./../images/logo-wanmei20180327.png" alt=""></a>
                <a href="javascript:;"><img src="./../images/logo-valve.png" alt=""></a>
            </div>
            <div class="dd">
                完美世界 版权所有　Perfect World. All Rights Reserved. <br>
                2012 Valve Corporation. All Rights reserved. Licensed to Beijing Perfect World Network Technology Co., Ltd. in China
            </div>
        </div>
        <p class="certificate">
            京ICP证：050016号
            <a href="javascript:;">《网络文化经营许可证》编号：京网文[2017]8929-1007号</a>
            《网络视听许可证》编号：0110587<br>
            京公网安备11010502033859号
            <a href="javascript:;"> 新出审字[2013] 1505号 ISBN：978-7-89989-826-0 | </a>
            <a href="javascript:;" style="color:#53bdfa;">家长监护</a> | <a href="" style="color:#53bdfa;">纠纷处理</a> | <a href="" style="color:#53bdfa;">营业执照</a> | <a href="" style="color:#53bdfa;">儿童隐私保护指引</a>
        </p>
        <p class="remark">本网络游戏适合年满17岁以上的用户使用：请您确定已如实进行实名注册。为了您的健康，请合理控制游戏时间。</p>
    </div>
</div>
<script type="text/javascript" src="javascripts/jquery-3.2.0.js" ></script>
<script type="text/javascript" src="javascripts/index.js" ></script>
</body>
</html>