<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<link rel="icon" href="./../images/dota2.png">
		<title>初识DOTA2 - DOTA2 - 刀塔官方网站 - 全球顶级竞技 唯一正统续作</title>
		<link rel="stylesheet" href="stylesheets/heroes.css">
		<link rel="stylesheet" href="stylesheets/head.css">
		<link rel="stylesheet" href="stylesheets/foot.css">
		<link rel="stylesheet" href="stylesheets/items.css">
	</head>
	<body>
		<div class="box">
			<div class="nav">
				<div class="nav_main">
					<a href="#"></a>
					<div class="dota2nav">
						<div class="link_div">
							<a href="/index" class="a1">
								<span>首页</span>
								<span class="s2">HOME</span>
							</a>
							<ul class="link_pop">
								<li><a href="/ppz" class="a2">品牌站</a></li>
								<li><a href="/login" class="a2">个人中心</a></li>
								<li><a href="#" class="a2">神秘商店</a></li>
							</ul>
						</div>
						<div class="link_div">
							<a href="/news" class="a1">
								<span>资讯</span>
								<span class="s2">NEWS</span>
							</a>
							<ul class="link_pop">
								<li><a href="/news" class="a2">官方新闻</a></li>
								<li><a href="/game" class="a2">赛事新闻</a></li>
								<li><a href="/renew" class="a2">跟新日志</a></li>
								<li><a href="/strategy" class="a2">游戏攻略</a></li>
							</ul>
						</div>
						<div class="link_div">
							<a href="/saishi" class="a1">
								<span>赛事</span>
								<span style="margin-left: -5px;" class="s2">TOURNAMENTS</span>
							</a>
						</div>
						<div class="link_div">
							<a href="/data" class="a1">
								<span>互动</span>
								<span class="s2">INTERACTION</span>
							</a>
							<ul class="link_pop">
								<li><a href="/zonghe" class="a2">精彩综合</a></li>
								<li><a href="/huodong" class="a2">官方活动</a></li>
								<li><a href="#" class="a2">玩家论坛</a></li>
								<li><a href="#" class="a2">新浪微博</a></li>
								<li><a href="#" class="a2">官方微信</a></li>
							</ul>
						</div>
						<div class="link_div">
							<a href="/data" class="a1">
								<span>资料</span>
								<span class="s2">DATA</span>
							</a>
							<ul class="link_pop">
								<li><a href="/heroes" class="a2">英雄资料</a></li>
								<li><a href="/items" class="a2">物品资料</a></li>
								<li><a href="#" class="a2">自定义地图</a></li>
								<li><a href="#" class="a2">新手引导</a></li>
							</ul>
						</div>
						<div class="link_div">
							<a href="/bbs" class="a1">
								<span>服务</span>
								<span class="s2">SERVICE</span>
							</a>
							<ul class="link_pop">
								<li><a href="/service" class="a2">客服中心</a></li>
								<li><a href="/online" class="a2">在线客服</a></li>
								<li><a href="/contact" class="a2">自助专区</a></li>
								<li><a href="#" class="a2">被盗找回</a></li>
								<li><a href="#" class="a2">忘记账号</a></li>
								<li><a href="/select" class="a2">通行证查询</a></li>
								<li><a href="/parents" class="a2">家长监护</a></li>
							</ul>
						</div>
						<div class="link_div">
							<a href="#" class="a1">
								<span>下载</span>
								<span class="s2">DOWNLOAD</span>
							</a>
							<ul class="link_pop">
								<li><a href="#" class="a2">游戏下载</a></li>
								<li><a href="#" class="a2">精美壁纸</a></li>
								<li><a href="#" class="a2">官方漫画</a></li>
							</ul>
						</div>
					</div>
					<div class="dota2user">
						<i></i>
						<div class="enter-box">
							<p><span>您好，请 </span><a href="#">登陆</a></p>
							<span class="tt">登录后可进入您的个人中心</span>
						</div>
					</div>
				</div>
			</div>
			<!-- 物品 -->
			<div class="bg">
				<div class="r_bar_bg">
					<div class="hero_top_wrap">
						<span>全部物品</span>
						<a href="javascript:return false;" class="bc"></a>
					</div>
					<div class="black_cont">
						<div class="itemsHeader">
							<h1>物品 ITEMS</h1>
						</div>
						<ul>
							<li>基础物品</li>
							<li>升级物品</li>
							<li>神秘商店</li>
						</ul>
						<div class="shopColumns">
							<ul class="shopColumn shopColumn1">
								<img src="../images/itemcat_consumables.png" alt="">
								<p>消耗品</p>
								<!-- <li>
									<img src="../images/clarity_lg.png" alt="">
								</li> -->
							</ul>
							<ul class="shopColumn shopColumn2">
								<img src="../images/itemcat_attributes.png" alt="">
								<p>属性</p>
							</ul>
							<ul class="shopColumn shopColumn3">
								<img src="../images/itemcat_armaments.png" alt="">
								<p>军备</p>
							</ul>
							<ul class="shopColumn shopColumn4">
								<img src="../images/itemcat_arcane.png" alt="">
								<p>奥术</p>
							</ul>
							<ul class="shopColumn shopColumn5">
								<img src="../images/itemcat_common.png" alt="">
								<p>普通</p>
							</ul>
							<ul class="shopColumn shopColumn6">
								<img src="../images/itemcat_support.png" alt="">
								<p>辅助</p>
							</ul>
							<ul class="shopColumn shopColumn7">
								<img src="../images/itemcat_support.png" alt="">
								<p>法器</p>
							</ul>
							<ul class="shopColumn shopColumn8">
								<img src="../images/itemcat_weapons.png" alt="">
								<p>武器</p>
							</ul>
							<ul class="shopColumn shopColumn9">
								<img src="../images/itemcat_weapons.png" alt="">
								<p>防具</p>
							</ul>
							<ul class="shopColumn shopColumn10">
								<img src="../images/itemcat_artifacts.png" alt="">
								<p>圣物</p>
							</ul>
							<ul class="shopColumn shopColumn11">
								<img src="../images/itemcat_secret.png" alt="">
								<p>神秘</p>
							</ul>
						</div>
					</div>
				</div>	
			</div>
			<!-- 底部 -->
			<div class="bottom footerIframe">
				<div class="foot_dl">
					<div class="dt">
						<a href="#"><img src="./../images/logo-wanmei20180327.png" alt=""></a>
						<a href="#"><img src="./../images/logo-valve.png" alt=""></a>
					</div>
					<div class="dd">
						© 完美世界 版权所有　Perfect World. All Rights Reserved. <br>
						© 2012 Valve Corporation. All Rights reserved. Licensed to Beijing Perfect World Network Technology Co., Ltd. in China
					</div>
				</div>
				<p class="certificate">
					京ICP证：050016号
					<a href="#">《网络文化经营许可证》编号：京网文[2017]8929-1007号</a>
					《网络视听许可证》编号：0110587<br>
					京公网安备11010502033859号
					<a href="#"> 新出审字[2013] 1505号 ISBN：978-7-89989-826-0 | </a>
					<a href="" style="color:#53bdfa;">家长监护</a> | <a href="" style="color:#53bdfa;">纠纷处理</a> | <a href="" style="color:#53bdfa;">营业执照</a> | <a href="" style="color:#53bdfa;">儿童隐私保护指引</a>
				</p>
				<p class="remark">本网络游戏适合年满17岁以上的用户使用：请您确定已如实进行实名注册。为了您的健康，请合理控制游戏时间。</p>
			</div>
		</div>
		<script type="text/javascript" src="javascripts/jquery-3.2.0.js" ></script>
		<script type="text/javascript" src="javascripts/items.js" ></script>
	</body>
</html>