<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DOTA2 - 刀塔官方网站 - 登录</title>
    <link rel="shortcut icon" href="images/dota2.png" type="image/x-icon">
    <link rel="stylesheet" href="stylesheets/reset.css">
    <link rel="stylesheet" href="stylesheets/login.css">
</head>
<body>
<div class="bg">
    <div class="rell">
        <a href="#">
            <img src="images/logo(1).png" alt="">
        </a>
    </div>
</div>
<script type="text/javascript" src="javascripts/jquery-3.2.0.js" ></script>
<script type="text/javascript" src="javascripts/login.js" ></script>
</body>
</html>