<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DOTA2 - 刀塔官方网站 - 品牌站</title>
    <link rel="shortcut icon" href="images/dota2.png" type="image/x-icon">
    <link rel="stylesheet" href="stylesheets/reset.css">
    <link rel="stylesheet" href="stylesheets/ppz.css">
</head>
<body>
<div class="header">
    <nav class="navbar">
        <ul>
            <li><a href="/index">进入官网</a></li>
            <li><a href="#">下载游戏</a></li>
            <li><a href="#">注册账号</a></li>
            <li><a href="#">充值中心</a></li>
            <li><a href="#">神秘商店</a></li>
            <li><a href="#">客服支持</a></li>
        </ul>
        <div class="dota2-logo">
            <a href="#">
                <video autoplay muted loop>
                    <source type="video/webm" src="//gamevideo.wmupd.com/dota2media/media/coverlogo180517.webm">
                    <source type="video/mp4" src="//gamevideo.wmupd.com/dota2media/media/coverlogo180517.webm.mp4">
                </video>
            </a>
        </div>
    </nav>
</div>

<div class="wrapper">
    <div class="banner">
        <video preload muted autoplay autobuffer loop poster>
            <source type="video/webm" src="https://img.dota2.com.cn/file/fc/e8/fce802dfac3677f4c74ff66afb535c0e1575441211.webm">
            <source type="video/mp4" src="https://img.dota2.com.cn/file/8a/d3/8ad35cfd999dded1bdf55ac0e9fd785a1575441182.mp4">
        </video>
        <div class="video-mask"></div>
        <div class="slogin"></div>
        <div class="content">
            <ul>
                <li>
                    <div class="group">
                        <div class="border"></div>
                        <img src="images/gb1.png" alt="">
                    </div>
                    <h4>完美世界全国守擂赛</h4>
                </li>
                <li>
                    <div class="group">
                        <div class="border"></div>
                        <img src="images/gb2.jpg" alt="">
                    </div>
                    <h4>英雄修炼之路II</h4>
                </li>
                <li>
                    <div class="group">
                        <div class="border"></div>
                        <img src="images/gb3.jpg" alt="">
                    </div>
                    <h4>7.26b更新</h4>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="modle">
    <ul>
        <li>
            <a href="#"></a>
        </li>
        <li>
            <a href="#"></a>
        </li>
        <li>
            <a href="#"></a>
        </li>
        <li>
            <a href="#"></a>
        </li>
        <li>
            <a href="#"></a>
        </li>
        <li>
            <a href="#"></a>
        </li>
        <li>
            <a href="#"></a>
        </li>
    </ul>
</div>

<div class="bottom">
    <div class="foot_dl">
        <div class="dt">
            <a href="#"><img src="./../images/logo-wanmei20180327.png" alt=""></a>
            <a href="#"><img src="./../images/logo-valve.png" alt=""></a>
        </div>
        <div class="dd">
            完美世界 版权所有　Perfect World. All Rights Reserved. <br>
            2012 Valve Corporation. All Rights reserved. Licensed to Beijing Perfect World Network Technology Co., Ltd. in China
        </div>
    </div>
    <p class="certificate">
        京ICP证：050016号
        <a href="#">《网络文化经营许可证》编号：京网文[2017]8929-1007号</a>
        《网络视听许可证》编号：0110587<br>
        京公网安备11010502033859号
        <a href="#"> 新出审字[2013] 1505号 ISBN：978-7-89989-826-0 | </a>
        <a href="" style="color:#53bdfa;">家长监护</a> | <a href="" style="color:#53bdfa;">纠纷处理</a> | <a href="" style="color:#53bdfa;">营业执照</a> | <a href="" style="color:#53bdfa;">儿童隐私保护指引</a>
    </p>
    <p class="remark">本网络游戏适合年满17岁以上的用户使用：请您确定已如实进行实名注册。为了您的健康，请合理控制游戏时间。</p>
</div>
<script type="text/javascript" src="javascripts/jquery-3.2.0.js" ></script>
<script type="text/javascript" src="javascripts/ppz.js" ></script>
</body>
</html>