<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<link rel="icon" href="./../images/dota2.png">
		<title>初识DOTA2 - DOTA2 - 刀塔官方网站 - 全球顶级竞技 唯一正统续作</title>
		<link rel="stylesheet" href="stylesheets/data.css">
		<link rel="stylesheet" href="stylesheets/head.css">
		<link rel="stylesheet" href="stylesheets/foot.css">
		<link rel="stylesheet" href="stylesheets/raiders.css">
		<link rel="stylesheet" href="stylesheets/go_top.css">
	</head>
	<body>
		<div class="box">
			<div class="nav">
				<div class="nav_main">
					<a href="#"></a>
					<div class="dota2nav">
						<div class="link_div">
							<a href="/index" class="a1">
								<span>首页</span>
								<span class="s2">HOME</span>
							</a>
							<ul class="link_pop">
								<li><a href="/ppz" class="a2">品牌站</a></li>
								<li><a href="/login" class="a2">个人中心</a></li>
								<li><a href="#" class="a2">神秘商店</a></li>
							</ul>
						</div>
						<div class="link_div">
							<a href="/news" class="a1">
								<span>资讯</span>
								<span class="s2">NEWS</span>
							</a>
							<ul class="link_pop">
								<li><a href="/news" class="a2">官方新闻</a></li>
								<li><a href="/game" class="a2">赛事新闻</a></li>
								<li><a href="/renew" class="a2">跟新日志</a></li>
								<li><a href="/strategy" class="a2">游戏攻略</a></li>
							</ul>
						</div>
						<div class="link_div">
							<a href="/saishi" class="a1">
								<span>赛事</span>
								<span style="margin-left: -5px;" class="s2">TOURNAMENTS</span>
							</a>
						</div>
						<div class="link_div">
							<a href="/data" class="a1">
								<span>互动</span>
								<span class="s2">INTERACTION</span>
							</a>
							<ul class="link_pop">
								<li><a href="/zonghe" class="a2">精彩综合</a></li>
								<li><a href="/huodong" class="a2">官方活动</a></li>
								<li><a href="#" class="a2">玩家论坛</a></li>
								<li><a href="#" class="a2">新浪微博</a></li>
								<li><a href="#" class="a2">官方微信</a></li>
							</ul>
						</div>
						<div class="link_div">
							<a href="/data" class="a1">
								<span>资料</span>
								<span class="s2">DATA</span>
							</a>
							<ul class="link_pop">
								<li><a href="/heroes" class="a2">英雄资料</a></li>
								<li><a href="/items" class="a2">物品资料</a></li>
								<li><a href="#" class="a2">自定义地图</a></li>
								<li><a href="#" class="a2">新手引导</a></li>
							</ul>
						</div>
						<div class="link_div">
							<a href="/bbs" class="a1">
								<span>服务</span>
								<span class="s2">SERVICE</span>
							</a>
							<ul class="link_pop">
								<li><a href="/service" class="a2">客服中心</a></li>
								<li><a href="/online" class="a2">在线客服</a></li>
								<li><a href="/contact" class="a2">自助专区</a></li>
								<li><a href="#" class="a2">被盗找回</a></li>
								<li><a href="#" class="a2">忘记账号</a></li>
								<li><a href="/select" class="a2">通行证查询</a></li>
								<li><a href="/parents" class="a2">家长监护</a></li>
							</ul>
						</div>
						<div class="link_div">
							<a href="#" class="a1">
								<span>下载</span>
								<span class="s2">DOWNLOAD</span>
							</a>
							<ul class="link_pop">
								<li><a href="#" class="a2">游戏下载</a></li>
								<li><a href="#" class="a2">精美壁纸</a></li>
								<li><a href="#" class="a2">官方漫画</a></li>
							</ul>
						</div>
					</div>
					<div class="dota2user">
						<i></i>
						<div class="enter-box">
							<p><span>您好，请 </span><a href="#">登陆</a></p>
							<span class="tt">登录后可进入您的个人中心</span>
						</div>
					</div>
				</div>
			</div>
			<div class="warp">
				<div class="main">
					<div class="bg_link">
						<a href="#"></a>
					</div>
					<div style="clear:both;"></div>
					<div class="float_left">
						<div class="aside_nav">
							<ul>
								<li><a href="#"></a></li>
								<li><a href="/data"></a></li>
								<li><a href="/download"></a></li>
								<li><a href="/raiders"></a></li>
								<li><a href="/advanced"></a></li>
								<li><a href="/heroes"></a></li>
								<li><a href="/items"></a></li>
								<li class="erweima">
									<p class="erp1">在踏上你的征程之前，还有问题？</p>
									<p class="erp2">让完美刀塔助手助你一臂之力</p>
									<div class="er">
										<div class="erimg"></div>
										<div class="right_text">
											<p>
												扫描二维码 免费下载<br>
												点击下载按钮自动进入<br>
												对应版本免费下载<br>
												在应用商店搜索"
												<a href="">完美<br>刀塔助手</a>
												"免费下载
											</p>
										</div>
									</div>
									<div class="other_ways">
										<p>OR</p>
										<div class="text">
											<p>如有问题，请联系<a href="#">在线客服</a></p>
										</div>
										<div class="lianjie">
											<a href=""><span class="s1"></span>新浪微博</a>
											<a href=""><span class="s2"></span>腾讯微博</a>
										</div>
									</div>
								</li>
							</ul>
						</div>
					</div>
					<div class="float_right">
						<div class="float_right_header">
							<div class="page_title">
								<h2><span></span>入门攻略</h2>
							</div>
							<div class="page_site">
								<span>您的位置：</span>
								<a href="#">首页</a>
								<span>></span>
								<a href="#">游戏资料</a>
								<span>></span>
								<a href="#">入门攻略</a>
							</div>
						</div>
						<!-- 切换的模块 -->
						<div class="titC">基础知识</div>
						<div class="listbox">
							<ul>
								<li>
									初入游戏
									<div class="lihover">
										<span class="s1">游戏大厅</span>
										<span class="s1">游戏设置</span>
										<span class="s1">游戏操作</span>
									</div>
								</li>
								<li>
									游戏模式
									<div class="lihover">
										<span class="s2">新手训练</span>
										<span class="s2">机器人练习赛</span>
										<span class="s2">普通匹配</span>
										<span class="s2">天梯匹配</span>
									</div>
								</li>
								<li>
									游戏界面
									<div class="lihover">
										<span class="s3">选择英雄界面</span>
										<span class="s3">游戏界面</span>
										<span class="s3">小地图</span>
										<span class="s3">物品栏</span>
									</div>
								</li>
								<li>
									游戏规则
									<div class="lihover">
										<span class="s4">游戏规则</span>
										<span class="s4">线路选择</span>
										<span class="s4"获取金钱</span>
										<span class="s4">购买装备</span>
									</div>
								</li>
							</ul>
						</div>
						<div style="clear:both;"></div>
						<div class="tab_conts">
							<!-- 通过数据库引入 -->
							<div class="panes01">
								
							</div>
							<div class="panes02">
								
							</div>
							<div class="panes03">
								
							</div>
							<div class="panes04">
								
							</div>
						</div>
						<div style="clear:both;"></div>
						<div class="titC">新手推荐英雄</div>
						<div class="rec_box">
							<div class="new_title">
								<span class="s1">力量英雄</span>
								<span class="s2">敏捷英雄</span>
								<span class="s3">智力英雄</span>
							</div>
							<ul>
								<li style="margin-left: -1px;">
									<div class="hero_cell left">
										<a href="">
											<div class="pic pic1">
												
											</div>
											<div style="clear:both;"></div>
										</a>
										<a href="" class="new-player new-playerT">新手攻略</a>
										<a href="" class="new-player new-playerB">进阶攻略</a>
									</div>
									<div class="hero_cell right">
										<a href="">
											<div class="pic pic2">
												
											</div>
											<div style="clear:both;"></div>
										</a>
										<a href="" class="new-player new-playerT">新手攻略</a>
										<a href="" class="new-player new-playerB">进阶攻略</a>
									</div>
								</li>
								<li>
									<div class="hero_cell left">
										<a href="">
											<div class="pic pic3">
												
											</div>
											<div style="clear:both;"></div>
										</a>
										<a href="" class="new-player new-playerT">新手攻略</a>
										<a href="" class="new-player new-playerB">进阶攻略</a>
									</div>
									<div class="hero_cell right">
										<a href="">
											<div class="pic pic4">
												
											</div>
											<div style="clear:both;"></div>
										</a>
										<a href="" class="new-player new-playerT">新手攻略</a>
										<a href="" class="new-player new-playerB">进阶攻略</a>
									</div>
								</li>
								<li style="margin-right:0px;">
									<div class="hero_cell left">
										<a href="">
											<div class="pic pic5">
												
											</div>
											<div style="clear:both;"></div>
										</a>
										<a href="" class="new-player new-playerT">新手攻略</a>
										<a href="" class="new-player new-playerB">进阶攻略</a>
									</div>
									<div class="hero_cell right">
										<a href="">
											<div class="pic pic6">
												
											</div>
											<div style="clear:both;"></div>
										</a>
										<a href="" class="new-player new-playerT">新手攻略</a>
										<a href="" class="new-player new-playerB">进阶攻略</a>
									</div>
								</li>
							</ul>
							<div style="clear:both;"></div>
						</div>
						<div class="titC">常用术语</div>
						<div class="sy_box">
							<ul>
								<li>
									<div class="sy_conts">
										<div class="sy_img">
											<img src="images/c1.png" alt="">
										</div>
										<div class="sy_pane">
											<div class="sy_tit">Gank</div>
											<div class="sy_des">指游戏中两个以上的英雄 同时行动，对对方的英雄进行偷袭、包抄、围杀。在游戏中一般都是走中路的负责Gank来带动节奏。</div>
										</div>
									</div>
								</li>
								<li>
									<div class="sy_conts">
										<div class="sy_img">
											<img src="images/c2.png" alt="">
										</div>
										<div class="sy_pane">
											<div class="sy_tit">Imba</div>
											<div class="sy_des">imbalance，指不平衡，一般指英雄太过变态。</div>
										</div>
									</div>
								</li>
								<li>
									<div class="sy_conts">
										<div class="sy_img">
											<img src="images/c3.png" alt="">
										</div>
										<div class="sy_pane">
											<div class="sy_tit">Ks</div>
											<div class="sy_des">Kill Steal，抢kill是在游戏中泛指抢人头，就是释放技能杀死本应由你队友击杀的英雄。</div>
										</div>
									</div>
								</li>
								<li>
									<div class="sy_conts">
										<div class="sy_img">
											<img src="images/c4.png" alt="">
										</div>
										<div class="sy_pane">
											<div class="sy_tit">Lol</div>
											<div class="sy_des">laugh on loudly，大声笑</div>
										</div>
									</div>
								</li>
								<li>
									<div class="sy_conts">
										<div class="sy_img">
											<img src="images/c5.png" alt="">
										</div>
										<div class="sy_pane">
											<div class="sy_tit">Miss</div>
											<div class="sy_des">某人在地图上消失的意思，让队友提高警惕。</div>
										</div>
									</div>
								</li>
								<li>
									<div class="sy_conts">
										<div class="sy_img">
											<img src="images/c6.png" alt="">
										</div>
										<div class="sy_pane">
											<div class="sy_tit">Noob</div>
											<div class="sy_des">newbie，比菜鸟狠一点的说法。</div>
										</div>
									</div>
								</li>
								<li>
									<div class="sy_conts">
										<div class="sy_img">
											<img src="images/c7.png" alt="">
										</div>
										<div class="sy_pane">
											<div class="sy_tit">Nuke</div>
											<div class="sy_des">短时间内对对方造成大量伤害的技能。</div>
										</div>
									</div>
								</li>
								<li>
									<div class="sy_conts">
										<div class="sy_img">
											<img src="images/c8.png" alt="">
										</div>
										<div class="sy_pane">
											<div class="sy_tit">Solo</div>
											<div class="sy_des">
												一个人打一条路的意思，5个队员分配3条路，总要有人solo。因为solo升级快，所以通常意味着更多的责任，也尤为了压制或者快速打钱的solo。
											</div>
										</div>
									</div>
								</li>
								<li>
									<div class="sy_conts">
										<div class="sy_img">
											<img src="images/c9.png" alt="">
										</div>
										<div class="sy_pane">
											<div class="sy_tit">Tank</div>
											<div class="sy_des">用来为队友抵挡伤害的英雄，也成为“肉盾”。</div>
										</div>
									</div>
								</li>
								<li>
									<div class="sy_conts">
										<div class="sy_img">
											<img src="images/c10.png" alt="">
										</div>
										<div class="sy_pane">
											<div class="sy_tit">Ult</div>
											<div class="sy_des">ultimate，英雄需要6级才能习得的技能，简称“大招”。</div>
										</div>
									</div>
								</li>
							</ul>
						</div>
						<!-- 下载游戏按钮与注册账号按钮 -->
						<div class="button_conts">
							<a href="#"><img src="./../images/btn_down.jpg" alt=""></a>
							<a href="#" class="zuce"><img src="./../images/btn_reg.jpg" alt=""></a>
						</div>
					</div>
					<div style="clear:both;"></div>
				</div>
			</div>
			<div style="clear:both;"></div>
			<div class="bottom">
				<div class="foot_dl">
					<div class="dt">
						<a href="#"><img src="images/logo-wanmei20180327.png" alt=""></a>
						<a href="#"><img src="images/logo-valve.png" alt=""></a>
					</div>
					<div class="dd">
						© 完美世界 版权所有　Perfect World. All Rights Reserved. <br>
						© 2012 Valve Corporation. All Rights reserved. Licensed to Beijing Perfect World Network Technology Co., Ltd. in China
					</div>
				</div>
				<p class="certificate">
					京ICP证：050016号
					<a href="#">《网络文化经营许可证》编号：京网文[2017]8929-1007号</a>
					《网络视听许可证》编号：0110587<br>
					京公网安备11010502033859号
					<a href="#"> 新出审字[2013] 1505号 ISBN：978-7-89989-826-0 | </a>
					<a href="" style="color:#53bdfa;">家长监护</a> | <a href="" style="color:#53bdfa;">纠纷处理</a> | <a href="" style="color:#53bdfa;">营业执照</a> | <a href="" style="color:#53bdfa;">儿童隐私保护指引</a>
				</p>
				<p class="remark">本网络游戏适合年满17岁以上的用户使用：请您确定已如实进行实名注册。为了您的健康，请合理控制游戏时间。</p>
			</div>
			<!-- 返回顶部 -->
			<div class="go_top"></div>
		</div>
		<script type="text/javascript" src="javascripts/jquery-3.2.0.js" ></script>
		<script type="text/javascript" src="javascripts/go_top.js" ></script>
		<script type="text/javascript" src="javascripts/raiders.js" ></script>
	</body>
</html>