<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DOTA2 - 刀塔官方网站 - 品牌站</title>
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="stylesheets/reset.css">
    <link rel="stylesheet" href="stylesheets/register.css">
</head>
<body>
<div class="top">
    <img src="images/logo.png" alt="">
</div>
<div class="register">
    <div class="regwrap">
        <div class="tab">
            <h2>注册完美通行证</h2>
            <p>创建完美世界账号，抢先享受全方位的游戏服务</p>
        </div>
        <div class="page">
            <form action="/register/adduser" method="post" id="form">
                <div class="ibox">
                    <input type="text" placeholder="手机号" name="username" id="username">
                    <span>s</span>
                </div>
                <div class="ibox">
                    <input type="password" placeholder="密码（由8-16位大小写字母、数字及字符组成）"  name="password" id="password">
                    <span>d</span>
                </div>
                <div class="ibox">
                    <input type="password" placeholder="重复密码"  name="repassword" id="repass">
                    <span>as</span>
                </div>
                <div class="ibox">
                    <input type="text" placeholder="真实姓名"  name="name" id="name">
                    <span>da</span>
                </div>
                <div class="ibox">
                    <input type="text" placeholder="身份证"  name="idcard" id="idcard">
                    <span>ds</span>
                </div>
                <input type="submit" value="免费注册通行证" class="submit">
                <a href="#">已经有通行证？</a>
            </form>
        </div>
    </div>
</div>
<script type="text/javascript" src="javascripts/jquery-3.2.0.js" ></script>
<script type="text/javascript" src="javascripts/register.js" ></script>
</body>
</html>