<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<link rel="stylesheet" type="text/css" href="stylesheets/news.css"/>
		<script src="javascripts/jquery.js"></script>
		<script src="javascripts/news.js"></script>
	</head>
	<body>
		<div class="box">
		<%- include('mould/header.ejs'); %>
		<div class="main">
			<div class="banner"></div>
			<div class="main-fix">
				<div class="news">
					<div class="news_header">
						<h1>新闻中心</h1>
						<h3>
							<span>您的位置：</span>
							<a href="">首页</a>
							<span>></span>
							<a href="">更新日志</a>
						</h3>
					</div>
					<div class="news_start">
						<div class="news_hot">
							<ul class="lists_fix">
								<li class="item">
									<a href="">
										<i class="icon icon-new"></i>
										<span>
											<img src="images/newslist1.jpg" alt="" >
										</span>
										<span class="filter"></span>
										<span class="desc">DOTA2 4月22日更新日志：7.26a平衡性更新</span>
									</a>
								</li>
								<li class="item">
									<a href="">
										<i class="icon icon-hot"></i>
										<span>
											<img src="images/newslist2.png" alt="天梯定位匹配更新" >
										</span>
										<span class="filter"></span>
										<span class="desc">天梯定位匹配更新</span>
									</a>
								</li>
							</ul>
						</div>
						<div class="news_lists">
							<ul class="tabs_fix">
								<li><a href="news" class="tab"  id="news">综合新闻</a></li>
								<li><a href="news" class="tab" id="news">官方新闻</a></li>
								<li><a href="game" class="tab" id="news">赛事新闻</a></li>
								<li><a href="" class="tab" id="news" style="color: #379be9;border-color: #379be9;">更新日志</a></li>
							</ul>
							<ul class="pans">
								<li class="">
									<a href="" class="itam">
										<div class="new_log">
											<img src="images/new-1.jpg" >
										</div>
										<div class="new_msg">
											<h2 class="titi">DOTA2 5月3日更新日志：7.26c平衡性更新</h2>
											<p class="cont">本次更新主要针对英雄的天赋树做了细致调整。</p>
											<p class="date">2020-05-03</p>
										</div>
									</a>
									<a href="" class="itam">
										<div class="new_log">
											<img src="images/new-1.jpg" >
										</div>
										<div class="new_msg">
											<h2 class="titi">DOTA2 4月28日更新日志：7.26b平衡性更新</h2>
											<p class="cont">7.26b更新日志</p>
											<p class="date">2020-04-28</p>
										</div>
									</a>
									<a href="" class="itam">
										<div class="new_log">
											<img src="images/new-1.jpg" >
										</div>
										<div class="new_msg">
											<h2 class="titi"><h2 class="title">DOTA2 4月22日更新日志：7.26a平衡性更新</h2></h2>
											<p class="cont">调整了诸多英雄和物品移速相关属性。</p>
											<p class="date">2020-04-22</p>
										</div>
									</a>
									<a href="" class="itam">
										<div class="new_log">
											<img src="images/r2.jpg" >
										</div>
										<div class="new_msg">
											<h2 class="titi">DOTA2 4月18日更新日志：7.26 游戏性更新</h2>
											<p class="cont">英雄的力量、敏捷和智力属性相应地不再提供魔法抗性、移动速度和技能增强</p>
											<p class="date">2020-04-18</p>
										</div>
									</a>
									<a href="" class="itam">
										<div class="new_log">
											<img src="images/r3.jpg" >
										</div>
										<div class="new_msg">
											<h2 class="titi">DOTA2 4月7日更新日志：7.25c平衡性更新</h2>
											<p class="cont">7.25c平衡性更新。</p>
											<p class="date">2020-04-07</p>
										</div>
									</a>
									<a href="" class="itam">
										<div class="new_log">
											<img src="images/r2.jpg" >
										</div>
										<div class="new_msg">
											<h2 class="titi">DOTA2 3月25日更新日志：7.25b平衡性更新</h2>
											<p class="cont">热门英雄及道具得到削弱。</p>
											<p class="date">2020-03-25</p>
										</div>
									</a>
									<a href="" class="itam">
										<div class="new_log">
											<img src="images/r2.jpg" >
										</div>
										<div class="new_msg">
											<h2 class="titi">DOTA2 3月19日更新日志：7.25a平衡性更新</h2>
											<p class="cont">熊战士等英雄遭到削弱</p>
											<p class="date">2020-03-19</p>
										</div>
									</a>
									<a href="" class="itam">
										<div class="new_log">
											<img src="images/r2.jpg" >
										</div>
										<div class="new_msg">
											<h2 class="titi">DOTA2 3月18日更新日志：7.25游戏性更新</h2>
											<p class="cont">DOTA2 3月18日更新日志：7.25游戏性更新</p>
											<p class="date">2020-03-18</p>
										</div>
									</a>
								</li>
								<li class=""></li>
								<li class=""></li>
								<li class=""></li>
							</ul>
						</div>
						<div class="btn_more">
							
						</div>
					</div>
				</div>
				<div class="anchor">
					<a href="">
						<i class="icon icon-anchor"></i>
					</a>
				</div>
				<div class="sidebar">
					<div class="bar">
						<a href="" class="btn btn-recharge"></a>
						<a href="" class="btn btn-download"></a>
						<a href="" class="btn btn-signup"></a>
					</div>
					<div class="more">
						<a href="" class="btn btn-match"></a>
						<a href="" class="btn btn-events"></a>
						<a href="" class="btn btn-bbs"></a>
					</div>
				</div>
			</div>
		</div>
		<%- include('mould/footer.ejs'); %>
		</div>
	</body>
</html>
