<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<link rel="stylesheet" type="text/css" href="stylesheets/strategy.css"/>
		<script src="javascripts/jquery.js"></script>
		<script src="javascripts/news.js"></script>
	</head>
	<body>
		<div class="box">
		<%- include('mould/header.ejs'); %>
		<div class="main">
			<div class="banner"></div>
			<div class="main-fix">
				<div class="news">
					<div class="title_nav">
						<span>您的位置:</span>
						<a href="/main.htm">首页</a>
						<span>&gt;</span>
						<a href="">全部攻略</a>
					</div>
					<div class="hd_nav">
						<a id="raiders" class="active" href="">全部攻略</a>
						<a id="newer" href="">新手攻略</a>
						<a id="step" href="">进阶攻略</a>
						<a id="skill" href="">技巧攻略</a>
					</div>
					<div class="hd_li">
						<ul>
							<li class="hd_ps hd_pic">
								<div class="img_left">
									<a href="">
										<img src="images/z1.jpg" >
									</a>
								</div>
								<div class="title_right">
									<a href="" class="enter_title">6.87版本后新眼位详解攻略</a>
									<h3></h3>
									<p>在经历了ESL-ONE马尼拉联赛之后，Dota2迎来了6.87版本的更新。在新的版本中，冰蛙对游戏地形做了小幅度的调整，这就导致我们在游戏中一些侦查守卫的位置发生了变化，下面我将结合地形的改变以及最近的比赛谈一谈眼位的改变。</p>
									<a href="" class="enter_event">进入专题</a>
								</div>
							</li>
							<li class="hd_ps hd_pic">
								<div class="img_left">
									<a href="">
										<img src="images/z2.jpg" >
									</a>
								</div>
								<div class="title_right">
									<a href="" class="enter_title">【178推荐】DOTA2  6.87版逃生宝典</a>
									<h3></h3>
									<p>随着6.87版本的到来，全新的物品更新、新增的地图细节、新颖的英雄改动都使EM的发挥空间得到了一次不小的拓展。下面就听小编我为大家细细道来，到底哪些更新和修改能提升玩家们的EM技巧呢？</p>
									<a href="" class="enter_event">进入专题</a>
								</div>
							</li>
							<li class="hd_ps hd_pic">
								<div class="img_left">
									<a href="">
										<img src="images/z3.jpg" >
									</a>
								</div>
								<div class="title_right">
									<a href="" class="enter_title">英雄试炼之肉山谷—引领RPG新潮流</a>
									<h3></h3>
									<p>在RPG越来越火热的今天，优质的地图层出不穷，今天就为大家介绍的一款制作精良的大型RPG地图——英雄试炼之肉山谷。</p>
									<a href="" class="enter_event">进入专题</a>
								</div>
							</li>
							<li class="hd_ps hd_pic">
								<div class="img_left">
									<a href="">
										<img src="images/z4.jpg" >
									</a>
								</div>
								<div class="title_right">
									<a href="" class="enter_title">2016冬季勇士令状全攻略</a>
									<h3></h3>
									<p>随着DOTA2上海特锦赛的临近，包含着上海特级锦标赛互动指南的勇士令状成为了玩家冬季里最热门的话题。2016年冬季勇士令状将为你提供多种多样的任务挑战，完成挑战后你还将得到专属的套装奖励。</p>
									<a href="" class="enter_event">进入专题</a>
								</div>
							</li>
							<li class="hd_ps hd_pic">
								<div class="img_left">
									<a href="">
										<img src="images/z5.jpg" >
									</a>
								</div>
								<div class="title_right">
									<a href="" class="enter_title">【17173推荐】RPG地图荒神罪攻略介绍专题</a>
									<h3></h3>
									<p>荒神罪作为国产仙侠风防守RPG地图，一上架便有了超高的人气，为了让玩家们更直观领略荒神罪的魅力，本篇攻略专题将为你完整的介绍荒神罪的仙侠世界。</p>
									<a href="" class="enter_event">进入专题</a>
								</div>
							</li>
							<li class="hd_ps hd_pic">
								<div class="img_left">
									<a href="">
										<img src="images/z6.jpg" >
									</a>
								</div>
								<div class="title_right">
									<a href="" class="enter_title">【游久推荐】DOTA2 6.86大型眼位攻略（四）推进眼</a>
									<h3></h3>
									<p>推进眼顾名思义对于推进至关重要。下面就为大家介绍一些6.86版本的眼位。</p>
									<a href="" class="enter_event">进入专题</a>
								</div>
							</li>
							<li class="hd_ps hd_pic">
								<div class="img_left">
									<a href="">
										<img src="images/z7.jpg" >
									</a>
								</div>
								<div class="title_right">
									<a href="" class="enter_title">【游久推荐】6.86大型眼位攻略（三）野区眼</a>
									<h3></h3>
									<p>今天来讲讲野区眼，这些眼位通常提供野点的清晰视野，具有一定压制和防守作用，打击对方龟缩战术，切断经济来源。</p>
									<a href="" class="enter_event">进入专题</a>
								</div>
							</li>
							<li class="hd_ps hd_pic">
								<div class="img_left">
									<a href="">
										<img src="images/z8.jpg" >
									</a>
								</div>
								<div class="title_right">
									<a href="" class="enter_title">【游久推荐】6.86大型眼位攻略（二）攻防眼</a>
									<h3></h3>
									<p>之前给大家介绍完了符点眼，今天来说说攻防眼，这些眼位多数会提供守卫塔的视野，观察英雄常走的路径，提高游走成功率和有效的防范游走，建立初期优势。</p>
									<a href="" class="enter_event">进入专题</a>
								</div>
							</li>
						</ul>
					</div>
				</div>
				<div class="anchor">
					<a href="">
						<i class="icon icon-anchor"></i>
					</a>
				</div>
				<div class="sidebar">
					<div class="bar">
						<a href="" class="btn btn-recharge"></a>
						<a href="" class="btn btn-download"></a>
						<a href="" class="btn btn-signup"></a>
					</div>
					<div class="more">
						<a href="" class="btn btn-match"></a>
						<a href="" class="btn btn-events"></a>
						<a href="" class="btn btn-bbs"></a>
					</div>
				</div>
			</div>
		</div>
		<%- include('mould/footer.ejs'); %>
		</div>
	</body>
</html>
