<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<link rel="stylesheet" type="text/css" href="stylesheets/tournaments.css"/>
		<script src="javascripts/jquery.js"></script>
		<script src="javascripts/news.js"></script>
	</head>
	<body>
		<div class="box">
				<%- include('mould/header.ejs'); %>
				<div class="main">
						<div class="banner"></div>
						<div class="main-fix">
							<div class="topic">
								<div class="topic_nav">
									<ul class="navs clearfix">
										<li class="nav"><a href="">综合专题</a></li>
										<li class="nav"><a href="">活动专题</a></li>
										<li class="nav"><a href="" class="act">赛事专题</a></li>
										<li class="nav"><a href="">版本专题</a></li>
										<li class="nav"><a href="">推广专题</a></li>
									</ul>
								</div>
								<div class="topic_main">
									<div class="content">
										<ul class="activities clearfix">
											<li class="activity">
												<p class="image">
													<img src="images/ss1.jpg" >
												</p>
												<div class="brief">
													<h3 class="title" style="overflow-wrap: break-word;">完美世界全国守擂赛</h3>
													<p class="desc" style="overflow-wrap: break-word;">完美世界全国守擂赛</p>
													<p></p>
												</div>
												<div class="detail">
													<h2>完美世界全国守擂赛</h2>
													<p>完美世界全国守擂赛</p>
													<a href="https://esports.wanmei.com/kingofthearena">
														<i class="icon icon-circle-arrow"></i> 进入专题
													</a>
												</div>
											</li>
											<li class="activity">
												<p class="image">
													<img src="images/ss2.jpg" >
												</p>
												<div class="brief">
													<h3 class="title" style="overflow-wrap: break-word;">星沙杯DOTA2大赛</h3>
													<p class="desc" style="overflow-wrap: break-word;">星沙杯DOTA2大赛</p>
													<p></p>
												</div>
												<div class="detail">
													<h2>星沙杯DOTA2大赛</h2>
													<p>星沙杯DOTA2大赛</p>
													<a href="https://esports.wanmei.com/kingofthearena">
														<i class="icon icon-circle-arrow"></i> 进入专题
													</a>
												</div>
											</li>
											<li class="activity">
												<p class="image">
													<img src="images/ss3.png" >
												</p>
												<div class="brief">
													<h3 class="title" style="overflow-wrap: break-word;">完美世界SOLO路人王</h3>
													<p class="desc" style="overflow-wrap: break-word;">完美世界SOLO路人王</p>
													<p></p>
												</div>
												<div class="detail">
													<h2>完美世界SOLO路人王</h2>
													<p>完美世界SOLO路人王</p>
													<a href="https://esports.wanmei.com/kingofthearena">
														<i class="icon icon-circle-arrow"></i> 进入专题
													</a>
												</div>
											</li>
											<li class="activity">
												<p class="image">
													<img src="images/ss4.jpg" >
												</p>
												<div class="brief">
													<h3 class="title" style="overflow-wrap: break-word;">2019完美世界城市挑战赛 秋季赛</h3>
													<p class="desc" style="overflow-wrap: break-word;">2019完美世界城市挑战赛 秋季赛</p>
													<p></p>
												</div>
												<div class="detail">
													<h2>2019完美世界城市挑战赛</h2>
													<p>2019完美世界城市挑战赛</p>
													<a href="https://esports.wanmei.com/kingofthearena">
														<i class="icon icon-circle-arrow"></i> 进入专题
													</a>
												</div>
											</li>
											<li class="activity">
												<p class="image">
													<img src="images/ss5.png" >
												</p>
												<div class="brief">
													<h3 class="title" style="overflow-wrap: break-word;">完美世界全国守擂赛</h3>
													<p class="desc" style="overflow-wrap: break-word;">完美世界全国守擂赛</p>
													<p></p>
												</div>
												<div class="detail">
													<h2>完美世界全国守擂赛</h2>
													<p>完美世界全国守擂赛</p>
													<a href="https://esports.wanmei.com/kingofthearena">
														<i class="icon icon-circle-arrow"></i> 进入专题
													</a>
												</div>
											</li>
											<li class="activity">
												<p class="image">
													<img src="images/ss6.jpg" >
												</p>
												<div class="brief">
													<h3 class="title" style="overflow-wrap: break-word;">2019刀塔国际邀请赛</h3>
													<p class="desc" style="overflow-wrap: break-word;">2019刀塔国际邀请赛</p>
													<p></p>
												</div>
												<div class="detail">
													<h2>2019刀塔国际邀请赛</h2>
													<p>2019刀塔国际邀请赛</p>
													<a href="https://esports.wanmei.com/kingofthearena">
														<i class="icon icon-circle-arrow"></i> 进入专题
													</a>
												</div>
											</li>
											<li class="activity">
												<p class="image">
													<img src="images/ss7.jpg" >
												</p>
												<div class="brief">
													<h3 class="title" style="overflow-wrap: break-word;">2019刀塔国际邀请赛 中国区地区预选赛</h3>
													<p class="desc" style="overflow-wrap: break-word;">TI9中国区地区预选赛</p>
													<p></p>
												</div>
												<div class="detail">
													<h2>2019刀塔国际邀请赛 中国区地区预选赛</h2>
													<p>TI9中国区地区预选赛</p>
													<a href="https://esports.wanmei.com/kingofthearena">
														<i class="icon icon-circle-arrow"></i> 进入专题
													</a>
												</div>
											</li>
											<li class="activity">
												<p class="image">
													<img src="images/ss8.jpg" >
												</p>
												<div class="brief">
													<h3 class="title" style="overflow-wrap: break-word;">2019刀塔国际邀请赛 中国区公开预选赛</h3>
													<p class="desc" style="overflow-wrap: break-word;">TI9中国区地区预选赛</p>
													<p></p>
												</div>
												<div class="detail">
													<h2>2019刀塔国际邀请赛 中国区公开预选赛</h2>
													<p>TI9中国区地区预选赛</p>
													<a href="https://esports.wanmei.com/kingofthearena">
														<i class="icon icon-circle-arrow"></i> 进入专题
													</a>
												</div>
											</li>
											<li class="activity">
												<p class="image">
													<img src="images/ss9.jpg" >
												</p>
												<div class="brief">
													<h3 class="title" style="overflow-wrap: break-word;">2018DOTA2国际邀请赛</h3>
													<p class="desc" style="overflow-wrap: break-word;">2018DOTA2国际邀请赛</p>
													<p></p>
												</div>
												<div class="detail">
													<h2>2018DOTA2国际邀请赛</h2>
													<p>2018DOTA2国际邀请赛</p>
													<a href="https://esports.wanmei.com/kingofthearena">
														<i class="icon icon-circle-arrow"></i> 进入专题
													</a>
												</div>
											</li>
											<li class="activity">
												<p class="image">
													<img src="images/ss10.jpg" >
												</p>
												<div class="brief">
													<h3 class="title" style="overflow-wrap: break-word;">TI8中国区地区预选赛</h3>
													<p class="desc" style="overflow-wrap: break-word;">TI8中国区地区预选赛</p>
													<p></p>
												</div>
												<div class="detail">
													<h2>TI8中国区地区预选赛</h2>
													<p>TI8中国区地区预选赛</p>
													<a href="https://esports.wanmei.com/kingofthearena">
														<i class="icon icon-circle-arrow"></i> 进入专题
													</a>
												</div>
											</li>
											<li class="activity">
												<p class="image">
													<img src="images/ss11.jpg" >
												</p>
												<div class="brief">
													<h3 class="title" style="overflow-wrap: break-word;">SuperMajor门票售卖现已开启！</h3>
													<p class="desc" style="overflow-wrap: break-word;">SuperMajor门票售卖现已开启！</p>
													<p></p>
												</div>
												<div class="detail">
													<h2>SuperMajor门票售卖现已开启！</h2>
													<p>SuperMajor门票售卖现已开启！</p>
													<a href="https://esports.wanmei.com/kingofthearena">
														<i class="icon icon-circle-arrow"></i> 进入专题
													</a>
												</div>
											</li>
											<li class="activity">
												<p class="image">
													<img src="images/ss12.jpg" >
												</p>
												<div class="brief">
													<h3 class="title" style="overflow-wrap: break-word;">SuperMajor购票特权码现已开启</h3>
													<p class="desc" style="overflow-wrap: break-word;">SuperMajor购票特权码现已开启</p>
													<p></p>
												</div>
												<div class="detail">
													<h2>SuperMajor购票特权码现已开启</h2>
													<p>SuperMajor购票特权码现已开启</p>
													<a href="https://esports.wanmei.com/kingofthearena">
														<i class="icon icon-circle-arrow"></i> 进入专题
													</a>
												</div>
											</li>
											<li class="activity">
												<p class="image">
													<img src="images/ss13.jpg" >
												</p>
												<div class="brief">
													<h3 class="title" style="overflow-wrap: break-word;">DAC 2018门票售卖火热开启</h3>
													<p class="desc" style="overflow-wrap: break-word;">本次售票开放VIP套票（全五天）和单日票，其中4月5日至7日将额外提供二等票。</p>
													<p></p>
												</div>
												<div class="detail">
													<h2>DAC 2018门票售卖火热开启</h2>
													<p>本次售票开放VIP套票（全五天）和单日票，其中4月5日至7日将额外提供二等票。</p>
													<a href="https://esports.wanmei.com/kingofthearena">
														<i class="icon icon-circle-arrow"></i> 进入专题
													</a>
												</div>
											</li>
											<li class="activity">
												<p class="image">
													<img src="images/ss14.jpg" >
												</p>
												<div class="brief">
													<h3 class="title" style="overflow-wrap: break-word;">完美世界全国守擂赛</h3>
													<p class="desc" style="overflow-wrap: break-word;">完美世界全国守擂赛</p>
													<p></p>
												</div>
												<div class="detail">
													<h2>完美世界全国守擂赛</h2>
													<p>完美世界全国守擂赛</p>
													<a href="https://esports.wanmei.com/kingofthearena">
														<i class="icon icon-circle-arrow"></i> 进入专题
													</a>
												</div>
											</li>
											<li class="activity">
												<p class="image">
													<img src="images/ss15.jpg" >
												</p>
												<div class="brief">
													<h3 class="title" style="overflow-wrap: break-word;">完美世界全国守擂赛</h3>
													<p class="desc" style="overflow-wrap: break-word;">完美世界全国守擂赛</p>
													<p></p>
												</div>
												<div class="detail">
													<h2>完美世界全国守擂赛</h2>
													<p>完美世界全国守擂赛</p>
													<a href="https://esports.wanmei.com/kingofthearena">
														<i class="icon icon-circle-arrow"></i> 进入专题
													</a>
												</div>
											</li>
										</ul>
									</div>
								</div>
							</div>
							<div class="anchor">
								<a href="">
									<i class="icon icon-anchor"></i>
								</a>
							</div>
							<div class="sidebar">
								<div class="bar">
									<a href="" class="btn btn-recharge"></a>
									<a href="" class="btn btn-download"></a>
									<a href="" class="btn btn-signup"></a>
								</div>
								<div class="more">
									<a href="" class="btn btn-match"></a>
									<a href="" class="btn btn-events"></a>
									<a href="" class="btn btn-bbs"></a>
								</div>
							</div>
						</div>
					</div>
				<%- include('mould/footer.ejs'); %>
		</div>
	</body>
</html>
