* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
body {
  background: #1a1b1e;
}
nav {
  width: 100%;
  height: 80px;
  background: url(../images/data2.home.nav.bg.png);
}
nav .nav_main {
  width: 1200px;
  height: 100%;
  margin: 0 auto;
}
nav .nav_main .header {
  width: 1200px;
  height: 100%;
  margin: 0 auto;
}
nav .nav_main .header .logo {
  margin: 20px 20px 0 0;
  float: left;
}
nav .nav_main .header ul {
  height: 100%;
  float: left;
}
nav .nav_main .header ul .hover:hover {
  background-image: url("../images/data2.home.submenu.bg.png");
  background-size: cover;
}
nav .nav_main .header ul li {
  float: left;
  width: 78px;
  height: 34px;
  padding: 23px 7px;
  position: relative;
}
nav .nav_main .header ul li:hover a {
  color: #00C0FF;
}
nav .nav_main .header ul li:hover .link {
  display: block;
}
nav .nav_main .header ul li a {
  text-decoration: none;
  color: #827c79;
}
nav .nav_main .header ul li a span {
  display: block;
  text-align: center;
  font-family: 'Microsoft YaHei';
}
nav .nav_main .header ul li a .up {
  font-size: 16px;
}
nav .nav_main .header ul li a .down {
  margin-top: 2px;
  font-size: 12px;
  line-height: 16px;
  transform: scale(0.75);
}
nav .nav_main .header ul li a .ml {
  margin-left: -7px;
}
nav .nav_main .header ul li .link {
  display: none;
  position: absolute;
  top: 60px;
  z-index: 1;
  margin-top: 10px;
  padding-top: 10px;
  margin-left: -7px;
  width: 92px;
  height: 278px;
  font-size: 15px;
  line-height: 30px;
  text-align: center;
  background: url(../images/data2.home.submenu.bg.png) top center no-repeat;
  background-size: cover;
}
nav .nav_main .header ul li .link a {
  color: #827c79;
  display: block;
}
nav .nav_main .header ul li .link a:hover {
  color: #00C0FF;
}
nav .nav_main .header .dota2User {
  width: 234px;
  height: 80px;
  float: right;
}
nav .nav_main .header .dota2User i {
  display: block;
  float: left;
  background: url(../images/icons.png);
  width: 50px;
  height: 50px;
  border: 1px solid #262323;
  border-radius: 50%;
  background-position: 13px -451px;
  margin-top: 15px;
}
nav .nav_main .header .dota2User .enterBox {
  width: 169px;
  height: 42px;
  float: right;
  margin-top: 19px;
}
nav .nav_main .header .dota2User .enterBox p {
  width: 100%;
  font-size: 18px;
}
nav .nav_main .header .dota2User .enterBox p span {
  color: white;
}
nav .nav_main .header .dota2User .enterBox p a {
  color: #00B7F4;
}
nav .nav_main .header .dota2User .enterBox .tt {
  font-size: 12px;
  color: #898989;
}
.wrap {
  width: 100%;
  background: url(../images/wrap.jpg) no-repeat top center / 112%;
  padding-bottom: 100px;
  overflow: hidden;
}
.wrap .wrap_main {
  width: 1200px;
  margin: 0 auto;
}
.wrap .wrap_main .bg_link {
  width: 1200px;
  height: 380px;
}
.wrap .wrap_main .bg_link .out {
  width: 100%;
  height: 100%;
  display: block;
}
.wrap .wrap_main .topic {
  width: 930px;
  float: left;
  background: #f5f5f5;
}
.wrap .wrap_main .topic .topic_nav {
  width: 930px;
  height: 30px;
  padding: 20px 0;
  font-size: 20px;
  line-height: 30px;
  background: #ededed;
  border-bottom: 1px solid #d9d9d9;
}
.wrap .wrap_main .topic .topic_nav .navs {
  width: 100%;
  height: 100%;
}
.wrap .wrap_main .topic .topic_nav .navs .nav {
  float: left;
  height: 100%;
}
.wrap .wrap_main .topic .topic_nav .navs .nav a {
  color: #333333;
  padding: 0 40px 0 30px;
}
.wrap .wrap_main .topic .topic_nav .navs .nav::before {
  content: '';
  width: 0;
  height: 18px;
  border-left: 1px solid #c2c3c5;
  display: inline-block;
}
.wrap .wrap_main .topic .topic_nav .navs .active a {
  color: #379be9;
}
.wrap .wrap_main .topic .topic_nav .navs .nav:hover a {
  color: #379be9;
}
.wrap .wrap_main .topic .topic_main {
  width: 850px;
  padding: 30px 40px 45px 40px;
}
.wrap .wrap_main .topic .topic_main :after {
  content: "";
  display: block;
  clear: both;
}
.wrap .wrap_main .topic .topic_main .content {
  width: 100%;
  margin-top: 30px;
}
.wrap .wrap_main .topic .topic_main .content :after {
  content: "";
  display: block;
  clear: both;
}
.wrap .wrap_main .topic .topic_main .content .activities {
  width: 100%;
}
.wrap .wrap_main .topic .topic_main .content .activities .activity {
  width: 268px;
  height: 273px;
  border: 1px solid #e0e0e0;
  float: left;
  margin-bottom: 20px;
  margin-right: 20px;
  position: relative;
}
.wrap .wrap_main .topic .topic_main .content .activities .activity .image {
  width: 100%;
  height: 130px;
}
.wrap .wrap_main .topic .topic_main .content .activities .activity .image img {
  width: 100%;
  height: 100%;
}
.wrap .wrap_main .topic .topic_main .content .activities .activity .brief {
  width: 248px;
  height: 74px;
  padding: 10px;
}
.wrap .wrap_main .topic .topic_main .content .activities .activity .brief .title {
  font-size: 16px;
  line-height: 22px;
  height: 44px;
  overflow: hidden;
  color: #333333;
  font-weight: normal;
}
.wrap .wrap_main .topic .topic_main .content .activities .activity .brief .desc {
  font-size: 14px;
  color: #999999;
  line-height: 20px;
  max-height: 60px;
  overflow: hidden;
  margin-top: 10px;
}
.wrap .wrap_main .topic .topic_main .content .activities .activity .detail {
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% - 40px);
  height: calc(100% - 30px);
  padding: 15px 20px;
  background-color: #fff;
  border: 1px solid #379be9;
  box-shadow: 0 0 5px #379BE9;
  transition: opacity 0.3s ease-in-out;
  opacity: 0;
  visibility: hidden;
}
.wrap .wrap_main .topic .topic_main .content .activities .activity .detail h2 {
  width: 226px;
  height: 55px;
  color: #379be9;
  font-size: 18px;
  line-height: 26px;
  overflow: hidden;
  font-weight: normal;
}
.wrap .wrap_main .topic .topic_main .content .activities .activity .detail p {
  width: 226px;
  height: 96px;
  margin-top: 15px;
  color: #666666;
  overflow: hidden;
}
.wrap .wrap_main .topic .topic_main .content .activities .activity .detail a {
  width: 226px;
  height: 50px;
  margin-top: 25px;
  display: block;
  line-height: 50px;
  background-color: #379BE9;
  color: white;
  font-size: 18px;
  text-align: center;
  border-radius: 1px;
}
.wrap .wrap_main .topic .topic_main .content .activities .activity .detail a .icon {
  margin-right: 10px;
  background-position: -12px -339px;
  display: inline-block;
  width: 24px;
  height: 24px;
  vertical-align: middle;
  background-image: url(../images/icons1.png);
}
.wrap .wrap_main .topic .topic_main .content .activities .mr0 {
  margin-right: 0;
}
.wrap .wrap_main .topic .topic_main .content .activities .activity:hover .detail {
  opacity: 1;
  visibility: visible;
}
.wrap .wrap_main .topic .topic_main .footer {
  height: 39px;
  margin: 0 auto;
  display: table;
  border-spacing: 5px 0;
}
.wrap .wrap_main .topic .topic_main .footer .nav {
  display: table-cell;
  vertical-align: middle;
  width: 35px;
  height: 35px;
  line-height: 35px;
  border: 1px solid #e8e8e8;
  background-color: white;
  text-align: center;
  cursor: pointer;
}
.wrap .wrap_main .topic .topic_main .footer .nav .icon {
  display: block;
  width: 24px;
  height: 24px;
  vertical-align: middle;
  background-image: url(../images/icons1.png);
  margin: 0 auto;
}
.wrap .wrap_main .topic .topic_main .footer .nav .icon-left-arrow {
  background-position: -209px -233px;
}
.wrap .wrap_main .topic .topic_main .footer .nav .icon-right-arrow {
  background-position: -207px -297px;
}
.wrap .wrap_main .topic .topic_main .footer .page {
  display: table-cell;
  vertical-align: middle;
  width: 35px;
  height: 35px;
  line-height: 35px;
  border: 1px solid #e8e8e8;
  background-color: white;
  text-align: center;
  cursor: pointer;
}
.wrap .wrap_main .topic .topic_main .footer .page a {
  color: #666666;
}
.wrap .wrap_main .topic .topic_main .footer .page .icon {
  display: block;
  width: 24px;
  height: 24px;
  vertical-align: middle;
  background-image: url(../images/icons1.png);
  margin: 0 auto;
}
.wrap .wrap_main .topic .topic_main .footer .page .icon-dot {
  background-position: -334px -233px;
}
.wrap .wrap_main .topic .topic_main .footer .active {
  background-color: #379BE9;
  border-color: #379BE9;
}
.wrap .wrap_main .topic .topic_main .footer .active a {
  color: #fff;
}
.wrap .wrap_main .topic .topic_main .footer .dots {
  background-color: transparent;
  border-color: transparent;
}
.wrap .wrap_main .sideBar {
  width: 240px;
  height: 517px;
  float: right;
}
.wrap .wrap_main .sideBar .btns {
  width: 240px;
  height: 262px;
}
.wrap .wrap_main .sideBar .btns .btn {
  width: 240px;
  height: 82px;
  margin-top: 8px;
  display: block;
  background-image: url(../images/icon-btns.png);
}
.wrap .wrap_main .sideBar .btns .btn-recharge {
  margin: 0;
  background-position: -15px -9px;
}
.wrap .wrap_main .sideBar .btns .btn-download {
  background-position: -15px -217px;
}
.wrap .wrap_main .sideBar .btns .btn-signup {
  background-position: -15px -425px;
}
.wrap .wrap_main .sideBar .btns .btn-recharge:hover {
  background-position: -15px -113px;
}
.wrap .wrap_main .sideBar .btns .btn-download:hover {
  background-position: -15px -321px;
}
.wrap .wrap_main .sideBar .btns .btn-signup:hover {
  background-position: -15px -529px;
}
.wrap .wrap_main .sideBar .more {
  width: 240px;
  height: 235px;
  margin-top: 20px;
}
.wrap .wrap_main .sideBar .more .btn {
  width: 238px;
  height: 73px;
  border: 1px solid transparent;
  display: block;
  margin-top: 5px;
  background-image: url(../images/icon-btns.png);
}
.wrap .wrap_main .sideBar .more .btn-match {
  margin: 0;
  background-position: -15px -713px;
}
.wrap .wrap_main .sideBar .more .btn-events {
  background-position: -15px -807px;
}
.wrap .wrap_main .sideBar .more .btn-bbs {
  background-position: -15px -904px;
}
.wrap .wrap_main .sideBar .more .btn:hover {
  border-color: #02baf6;
}
.wrap .wrap_main .anchor {
  position: fixed;
  left: 50%;
  margin-left: 360px;
  bottom: 200px;
  width: 50px;
  height: 50px;
  display: none;
}
.wrap .wrap_main .anchor a .icon-anchor {
  width: 50px;
  height: 50px;
  background-image: url(../images/icons1.png);
  background-position: -14px -159px;
  display: block;
}
.bottom {
  height: 180px;
  background-color: #000;
  background-repeat: no-repeat;
  /* z-index: 1; */
  font-size: 12px;
  color: #959595;
  position: relative;
}
.bottom .foot_dl {
  width: 988.625px;
  height: 30px;
  margin: 0 auto;
  padding-top: 40px;
}
.bottom .foot_dl .dt {
  float: left;
}
.bottom .foot_dl .dt a {
  float: left;
  padding: 0 11px;
}
.bottom .certificate {
  width: 881.781px;
  height: 37.266px;
  margin: 20px auto 0;
  line-height: 1.5;
  font-size: 12px;
  color: #333;
  text-align: center;
}
.bottom .certificate a {
  color: #959595;
}
.bottom .certificate a img {
  vertical-align: middle;
}
.remark {
  line-height: 1.5;
  font-size: 12px;
  color: #333;
  text-align: center;
}
.overlay {
  background-color: #000000;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  opacity: 0.7;
  z-index: 999;
  display: none;
}
.wxdialog {
  position: fixed;
  z-index: 1000;
  width: 620px;
  height: 385px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: url(../images/wxdialog.jpg) no-repeat top center;
  color: #fff;
  text-align: center;
  display: none;
}
.wxdialog h4 {
  font-size: 20px;
  font-weight: bold;
  margin: 54px 0 14px 0;
}
.wxdialog p {
  font-size: 16px;
  margin-bottom: 45px;
  color: #999999;
}
.wxdialog ul li {
  display: inline-block;
  width: 156px;
  height: 196px;
  margin: 0 20px;
}
.wxdialog ul li i {
  display: block;
  height: 156px;
  width: 156px;
  background-color: #fff;
}
.wxdialog ul li span {
  font-size: 14px;
  line-height: 40px;
}
.wxdialog ul .subscribe i {
  background-image: url(../images/navwx_subscribe.png);
}
.wxdialog ul .vservice i {
  background-image: url(../images/navwx_vservice.png);
}
.wxdialog .close {
  position: absolute;
  width: 60px;
  height: 60px;
  background: #3c2728;
  right: -61px;
  top: 0;
}
.wxdialog .close i {
  display: block;
  width: 60px;
  height: 60px;
  background: url(../images/navwx_close.png);
  opacity: 0.6;
}
/*# sourceMappingURL=zonghe.css.map */