<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<link rel="stylesheet" type="text/css" href="stylesheets/footer.css" />
	</head>
	<body>
		<div class="bottom">
			<div class="bot">
				<dl class="fot-1">
					<dt>
						<a href="">
							<img class="wanmei" src="images/logo-wanmei20180327.png">
						</a>
						<a href="">
							<img src="images/logo-valve.png">
						</a>
					</dt>
					<dd>
						© 完美世界 版权所有　Perfect World. All Rights Reserved.<br>
						© 2012 Valve Corporation. All Rights reserved. Licensed to Beijing Perfect World Network Technology Co., Ltd. in
						China
					</dd>
				</dl>
				<p class="certificate">
					京ICP证：050016号
					<a href="" style="color:#959595;">《网络文化经营许可证》编号：京网文[2017]8929-1007号</a>
					《网络视听许可证》编号：0110587 <br>
					京公网安备11010502033859号
					<a href="" style="color:#959595;"><img src="images/icon-gamenettag.png"> 文网进字[2013] 028号</a>
					新出审字[2013] 1505号 ISBN：978-7-89989-826-0 | <a href="" style="color:#53bdfa;">家长监护</a>
					|
					<a href="" style="color:#53bdfa;">纠纷处理</a>
					|
					<a href="" style="color:#53bdfa;">营业执照</a>
					|
					<a href="" style="color:#53bdfa;">儿童隐私保护指引</a>
				</p>
				<p class="remark">本网络游戏适合年满17岁以上的用户使用：请您确定已如实进行实名注册。为了您的健康，请合理控制游戏时间。</p>
			</div>
		</div>
	</body>
</html>
