<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<link rel="stylesheet" type="text/css" href="stylesheets/header.css"/>
	</head>
	<body>
		<div class="top">
			<div class="nav_main">
				<a href="" class='nav_logo'>《DOTA2》官方网站</a>
				<div class="dota2nav">
					<div class="link_div">
						<a href="/index" class="link_nav">
							<span class="link_nav_a">首页</span>
							<span class="link_nav_e">HOME</span>
						</a>
						<div class="link_pop">
							<a href="/ppz">品牌站</a>
							<a href="/login">个人中心</a>
							<a href="">神秘商店</a>
						</div>
					</div>
					<div class="link_div">
						<a href="/news" class="link_nav">
							<span class="link_nav_a">资讯</span>
							<span class="link_nav_e">NEWS</span>
						</a>
						<div class="link_pop">
							<a href="/news">官方新闻</a>
							<a href="/game">赛事新闻</a>
							<a href="/renew">更新日志</a>
							<a href="/strategy">游戏攻略</a>
						</div>
					</div>
					<div class="link_div">
						<a href="/saishi" class="link_nav">
							<span class="link_nav_a">赛事</span>
							<span class="link_nav_e">TOURNAMENTS</span>
						</a>
					</div>
					<div class="link_div">
						<a href="/data" class="link_nav">
							<span class="link_nav_a">互动</span>
							<span class="link_nav_e">INTERACTION</span>
						</a>
						<div class="link_pop">
							<a href="/zonghe">精彩综合</a>
							<a href="huodong">官方活动</a>
							<a href="">玩家论坛</a>
							<a href="">新浪微博</a>
							<a href="">官方微信</a>
						</div>
					</div>
					<div class="link_div">
						<a href="/data" class="link_nav">
							<span class="link_nav_a">资料</span>
							<span class="link_nav_e">DATA</span>
						</a>
						<div class="link_pop">
							<a href="/heroes">英雄资料</a>
							<a href="/items">物品资料</a>
							<a href="">自定义地图</a>
							<a href="">新手引导</a>
						</div>
					</div>
					<div class="link_div">
						<a href="/bbs" class="link_nav">
							<span class="link_nav_a">服务</span>
							<span class="link_nav_e">SERVICE</span>
						</a>
						<div class="link_pop">
							<a href="/service">客服中心</a>
							<a href="/online">在线客服</a>
							<a href="/contact">自助专区</a>
							<a href="">被盗找回</a>
							<a href="">忘记账号</a>
							<a href="/select">通行证查询</a>
							<a href="/parents">家长监护</a>
						</div>
					</div>
					<div class="link_div">
						<a href="" class="link_nav">
							<span class="link_nav_a">下载</span>
							<span class="link_nav_e">DOWNLOAD</span>
						</a>
						<div class="link_pop">
							<a href="">游戏下载</a>
							<a href="">精美壁纸</a>
							<a href="">官方漫画</a>
						</div>
					</div>
				</div>
				<div class="dota2user">
					<i class="nav-avatar avatar-default"></i>
					<div class="enter-box">
						<p class="name">
							<span>您好，请 &nbsp;</span>
							<a href="">登录</a>
						</p>
						<span class="tt">登录后可进入您的个人中心</span>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
